<div class="container-fluid customerdashboardmaimbody">



<div class="container-fluid customerdashboardbody">

<div class="customerdashboard_heading"><h2><span>Auction Ininventory </span>Details</h2></div>


<div class="container-fluid customerdashboard_block2">


<div class="customerdashboard_block2_body">

  <!--  <div class="customerdashboard_block2_top">

        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="newtablediv">
            <tr>
                <td align="left" valign="middle"><h2>Dealer RSVP Invitations</h2></td>
                <td align="left" valign="middle">
                    <div class="new_cd_chakebox">
                        <input id="radio1" type="radio" name="radio" value="1" checked="checked"><label for="radio1">Yes </label> &nbsp;
                        <input id="radio2" type="radio" name="radio" value="2"><label for="radio2">No</label>
                    </div>
                </td>
                <td align="left" valign="middle">
                    <div class="setmaxbid">
                        <strong>Set your Max Bid</strong>
                        <input type="text">

                        <input type="button" value="Set">
                        <div class="clearfix"></div>
                    </div>
                </td>
                <td align="left" valign="middle">
                    <h3>Suggested Max Bid<br>

                        $20,000
                    </h3>
                </td>

                <td align="left" valign="middle">
                    <img src="images/edmunds.png" alt="#" class="edmunds">

                </td>
                <td align="right" valign="middle"><a href="javascript:void(0)" class="cd_block2_link1">RSVP to commit on this car</a></td>
            </tr>
        </table>








        <div class="clearfix"></div>
    </div>-->
    <div class="row row-eq-height">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 customerdashboard_block2_left">
            <div class="cdblock2topbg1"><h3>Lot #{{id}} </h3></div>

            <div class="cd_block3_gallery">

                <div class="cd_block3_gallery_bigimg">

                    <img src="{{uploadedfilesrc1}}" alt="#" class="cd1_bigcar">
                   <!-- <img src="images/cd1_bigcar1.jpg" alt="#" class="cd1_bigcar">-->

                    <img src="images/cd_carlogo1.jpg" alt="#" class="cd1_carsponser">

                    <div class="cdcar_text">
                        <div class="cdcar_textdiv1">
                            <a href="javascript:void(0)">
                               <!-- <img src="{{uploadedfilesrc1}}" alt="#">-->
                                <img src="images/cd_con1.png" alt="#">
                            </a>
                            <div class="clearfix"></div>
<span *ngIf="notes" [innerHTML]="_sanitizer.bypassSecurityTrustHtml(notes)"></span>
                           <!-- The Brio is a testimony to Honda's 'Man Maximum, machine Minimum' principle that believes in
                            maximising space for you and minimising space taken up by the machinery.-->




                        </div>
                    </div>


                    <a href="javascript:void(0)" class="cd_viewbtn">View All Photos</a>

                </div>

                <div class="cd_block3_gallery_smimg">
                    <img src="{{uploadedfilesrc1}}" alt="#">
                   <!-- <img src="images/cd1_sm1.jpg" alt="#">-->
                    <img src="images/cd1_sm2.jpg" alt="#">
                    <img src="images/cd1_sm3.jpg" alt="#">
                    <img src="images/cd1_sm4.jpg" alt="#">
                    <img src="images/cd1_sm5.jpg" alt="#">
                    <img src="images/cd1_sm6.jpg" alt="#">
                    <img src="images/cd1_sm7.jpg" alt="#">
                    <img src="images/cd1_sm8.jpg" alt="#">
                    <img src="images/cd1_sm9.jpg" alt="#">
                    <img src="images/cd1_sm10.jpg" alt="#">
                    <img src="images/cd1_sm11.jpg" alt="#">
                    <img src="images/cd1_sm12.jpg" alt="#">

                </div>




            </div>


        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 customerdashboard_block2_right">
            <div class="cdblock2topbg1"><h3>Details <span>Glossary</span></h3></div>


            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr *ngIf="doctype">
                    <td>Doc Type: </td>
                    <td><strong>{{doctype}}</strong><span class="badge">?</span>      </td>
                </tr>

                <tr *ngIf="carlogolist">
                    <td><span>Make:</span></td>
                    <td><span>{{getcarlogo(carlogolist)}}</span></td>
                </tr>
                <tr *ngIf="model">
                    <td><span>Model:</span></td>
                    <td>{{model}}</td>
                </tr>
                <tr *ngIf="carautoyearlist">
                    <td><span>Year:</span></td>
                    <td>{{getcaryear(carautoyearlist)}}</td>
                </tr>
                <tr *ngIf="mileage">
                    <td><span>Miles:</span></td>
                    <td>{{getmileage(mileage)}}</td>
                </tr>
                <tr *ngIf="color">
                    <td><span>Color:</span></td>
                    <td>{{getcolor(color)}}</td>
                </tr>
                <tr *ngIf="est_retail_value">
                    <td><span>Wholesale:</span></td>
                    <td>{{est_retail_value}}</td>
                </tr>




                <tr *ngIf="vin">
                    <td>VIN:    </td>
                    <td> {{vin}} </td>
                </tr>


                <tr *ngIf="carbodystylelist">
                    <td>Body Style:    </td>
                    <td> {{getbodystyle(carbodystylelist)}} </td>
                </tr>


                <tr *ngIf="enginetype">
                    <td>Engine Type:        </td>
                    <td>     {{enginetype}}</td>
                </tr>


                <tr *ngIf="drive">
                    <td>Drive:    </td>
                    <td>    {{drive}}</td>
                </tr>


                <tr *ngIf="cylinder">
                    <td>Cylinder:    </td>
                    <td> {{cylinder}}</td>
                </tr>


                <tr *ngIf="fuel">
                    <td>Fuel:    </td>
                    <td> {{fuel}}</td>
                </tr>


                <tr *ngIf="airbags">
                    <td>Airbags:    </td>
                    <td>   {{airbags}}</td>
                </tr>
                <tr *ngIf="stereo_system">
                    <td>Stereo System:    </td>
                    <td>&nbsp;{{stereo_system}}</td>
                </tr>

                <tr *ngIf="dvd_player">
                    <td>DVD Player:    </td>
                    <td>&nbsp;{{dvd_player}}</td>
                </tr>
                <tr *ngIf="stereo_system">
                    <td>Power Window:    </td>
                    <td>&nbsp;{{stereo_system}}</td>
                </tr>
                <tr *ngIf="power_locks">
                    <td>Power Lock:    </td>
                    <td>&nbsp;{{power_locks}}</td>
                </tr>
                <tr *ngIf="digital_display">
                    <td>Digital Dispaly:    </td>
                    <td>&nbsp;{{digital_display}}</td>
                </tr>
                <tr *ngIf="gear_type">
                    <td>Gear type:    </td>
                    <td>&nbsp;{{gear_type}}</td>
                </tr>
                <tr *ngIf="bluetooth">
                    <td>Bluetooth:    </td>
                    <td>&nbsp;{{bluetooth}}</td>
                </tr>
                <tr *ngIf="gps">
                    <td>GPS:    </td>
                    <td>&nbsp;{{gps}}</td>
                </tr>
                <tr *ngIf="seats">
                    <td>Seats:    </td>
                    <td>&nbsp;{{seats}}</td>
                </tr>
                <tr *ngIf="lights">
                    <td>Lights:    </td>
                    <td>&nbsp;{{lights}}</td>
                </tr>
                <tr *ngIf="trinted_window">
                    <td>Tinted Window:    </td>
                    <td>&nbsp;{{trinted_window}}</td>
                </tr>
                <tr *ngIf="sunroof">
                    <td>Sunroofs:    </td>
                    <td>&nbsp;{{sunroof}}</td>
                </tr>
                <tr *ngIf="notes">
                    <td>Notes:    </td>
                    <td>&nbsp;{{notes}}</td>
                </tr>



            </table>



        </div>
        <div class="clearfix"></div>

    </div>
</div>

<div class="customerdashboard_block2_body">

    <div class="customerdashboard_block2_top">
        <div class="uncommit_block">
            <h2>You’re currently committed to this car!</h2>

           <!-- <a href="javascript:void(0)" class="cd_block2_link2">Uncommit Now</a>-->



            <div class="clearfix"></div>
        </div>


    </div>

</div>
</div>





</div>

</div>