
@font-face {
  font-family:'MyriadPro-Bold';
  src: url('../fonts/MyriadPro-Bold_gdi.eot');
  src: url('../fonts/MyriadPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Bold_gdi.woff') format('woff'),
  url('../fonts/MyriadPro-Bold_gdi.ttf') format('truetype'),
  url('../fonts/MyriadPro-Bold_gdi.svg#MyriadPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}



@font-face {
  font-family:'MyriadPro-Semibold';
  src: url('../fonts/MyriadPro-Semibold_gdi.eot');
  src: url('../fonts/MyriadPro-Semibold_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Semibold_gdi.woff') format('woff'),
  url('../fonts/MyriadPro-Semibold_gdi.ttf') format('truetype'),
  url('../fonts/MyriadPro-Semibold_gdi.svg#MyriadPro-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family:'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular_gdi.eot');
  src: url('../fonts/MyriadPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular_gdi.woff') format('woff'),
  url('../fonts/MyriadPro-Regular_gdi.ttf') format('truetype'),
  url('../fonts/MyriadPro-Regular_gdi.svg#MyriadPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
body{padding: 0px; margin: 0px;}
*{padding: 0px; margin: 0px;}
a{text-decoration: none; outline: none;}
a:hover{text-decoration: none; outline: none; color: inherit;}
a:visited{text-decoration: none; outline: none; color: inherit;}
a:focus{text-decoration: none; outline: none; color: inherit;}
ul,li{list-style: none;}
p{padding: 0px; margin: 0px;}

h1,h2,h3,h4.h5,h6{ margin: 0px; padding: 0px;}

.container-fluid{ padding-left:0!important; padding-right:0!important; }

.container{ padding-left:0!important; padding-right:0!important;  }
.row{ padding-left:0!important; padding-right:0!important; margin-left:0!important; margin-right:0!important;  }

.signup_body_wrapper{ margin: 0 auto; width: 1440px; padding-bottom: 50px;}

.toplogoblock{ margin: 23px 0; }

.toplogoblock .logo1{ margin: 0px; display: inline-block; float: left;}

.toplogoblock .logo2{ margin: 15px 0 0 0; display: inline-block; float: left;}

.toplogoblock .logodevider{ width: 1px; background: #c8c4c4; height: 72px; margin: 0 15px; display: block; float: left;}


.signupwrapperblock{ overflow-x: hidden; background:url(../images/carbg.jpg) no-repeat center top; background-size: cover; background-attachment: fixed;}

.creditcardwrapperblock{background-color:#FBF2E1; width: 100%;}

.signupmiddleblock{width:100%; position: relative; display: flex;}

.signupleftblock{ padding-left:0!important; padding-right:0!important; margin-left:0!important; margin-right:0!important;float: left !important;   min-height: 813px; flex: 2;background: url(../images/signup_leftimg.jpg) no-repeat left top; background-size: cover;}

.signuprightblock{ margin: 0px; padding: 0px;  flex: 1;  float: right !important;
    background: rgba(140,139,73,1);
    background: -moz-linear-gradient(-45deg, rgba(140,139,73,1) 0%, rgba(166,132,126,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(140,139,73,1)), color-stop(100%, rgba(166,132,126,1)));
    background: -webkit-linear-gradient(-45deg, rgba(140,139,73,1) 0%, rgba(166,132,126,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(140,139,73,1) 0%, rgba(166,132,126,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(140,139,73,1) 0%, rgba(166,132,126,1) 100%);
    background: linear-gradient(135deg, rgba(140,139,73,1) 0%, rgba(166,132,126,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8b49', endColorstr='#a6847e', GradientType=1 ); padding: 0px 0 15px 0!important; margin: 0px!important;
}


.signupleftblocktop{background-color: rgba(0, 0, 0, 0.8); width: 100%; padding: 19px; position: absolute; top: 0px;}
.signupleftblocktop h1{margin: 0px; padding: 0px 0 0 0; font-family:'MyriadPro-Semibold'; text-transform: uppercase; text-align: left; font-size: 37px; color: #fb4a32; line-height: 27px;}
.signupleftblocktop p{margin: 0px; padding: 9px 0 0 0; font-family:'MyriadPro-Regular'; text-align: left; font-size: 18px; color: #fff;}

.signupleftblockmiddlewrapper{position: absolute; bottom: 0;width: 100%;}

.signupleftblockmiddle{ background: rgba(252,252,252,1); width: 406px;
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(100%, rgba(175,178,179,1)));
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#afb2b3', GradientType=0 ); padding: 19px;}

.signupleftblockmiddle p{margin: 0px; padding: 0px; font-family:'MyriadPro-Regular'; text-align: left; font-size: 18px; color: #090909;text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);-moz-text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);-webkit-text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);}


.signupleftblockbottom{background-color: rgba(0, 0, 0, 0.8); width: 100%; padding: 19px;}

.signupleftblockbottom h1{margin: 0px; padding: 0px 0 0 0; font-family:'MyriadPro-Bold'; text-transform: uppercase; text-align: left; font-size: 26px; color: #fb4a32; line-height: 27px;}

.signupleftblockbottom h3{margin: 0px; padding: 12px 0 0 0; font-family:'MyriadPro-Regular'; text-transform: uppercase; text-align: left; font-size: 22px; color: #fff;}

/*.signupform_wrapper .form-group .ng-invalid{box-shadow: inset 0 0 10px #ff0000 !important; }*/
.signupform_wrapper .form-group{position: relative;}
.signupform_wrapper .form-group img{width: 50px; height:52px;margin: 0; background: #afa288; padding: 13px 17px;     box-shadow: 0 0 6px #615b42; margin-left: 6px;}
.signupform_wrapper .form-group span {
    float: right;
    position: absolute;
    top: 0px;
    right: -53px;
}

/*.signupform_wrapper .form-group .ng-invalid{box-shadow: inset 0 0 10px #ff0000 !important; }
.signupform_wrapper .form-group .form-control{width: 90% !important;float: left;height: 50px; display: inline-block;}
.signupform_wrapper .form-group span{width: 10%  !important; float: right;height: 50px !important; display: inline-block;}*/


/*.signupmiddleblock {
    position: relative;
}*/
/*

.signupleftblockmiddlewrapper{position: absolute; bottom: 0;width: 100%;}


.signupleftblock{ padding-left:0!important; padding-right:0!important; margin-left:0!important; margin-right:0!important;float: left !important; background: url(../images/signup_leftimg.jpg) left top; background-size: 100%;  width: 69%;}

.signupleftblocktop{background-color: rgba(0, 0, 0, 0.8); width: 100%; padding: 19px; position: absolute; top: 0px;}
.signupleftblocktop h1{margin: 0px; padding: 0px 0 0 0; font-family:'MyriadPro-Semibold'; text-transform: uppercase; text-align: left; font-size: 37px; color: #fb4a32; line-height: 27px;}
.signupleftblocktop p{margin: 0px; padding: 9px 0 0 0; font-family:'MyriadPro-Regular'; text-align: left; font-size: 18px; color: #fff;}

.signupleftblockmiddle{ background: rgba(252,252,252,1); width: 406px;
  background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(100%, rgba(175,178,179,1)));
  background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
  background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
  background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
  background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#afb2b3', GradientType=0 ); padding: 19px;}
.signupleftblockmiddle p{margin: 0px; padding: 0px; font-family:'MyriadPro-Regular'; text-align: left; font-size: 18px; color: #090909;text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);-moz-text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);-webkit-text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);}

.signupleftblockbottom{background-color: rgba(0, 0, 0, 0.8); width: 100%; padding: 19px;}
.signupleftblockbottom h1{margin: 0px; padding: 0px 0 0 0; font-family:'MyriadPro-Bold'; text-transform: uppercase; text-align: left; font-size: 26px; color: #fb4a32; line-height: 27px;}
.signupleftblockbottom h3{margin: 0px; padding: 12px 0 0 0; font-family:'MyriadPro-Regular'; text-transform: uppercase; text-align: left; font-size: 22px; color: #fff;}



.signuprightblock{ margin: 0px; padding: 0px;    float: right !important; width: 31%;
  background: rgba(140,139,73,1);
  background: -moz-linear-gradient(-45deg, rgba(140,139,73,1) 0%, rgba(166,132,126,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(140,139,73,1)), color-stop(100%, rgba(166,132,126,1)));
  background: -webkit-linear-gradient(-45deg, rgba(140,139,73,1) 0%, rgba(166,132,126,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(140,139,73,1) 0%, rgba(166,132,126,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(140,139,73,1) 0%, rgba(166,132,126,1) 100%);
  background: linear-gradient(135deg, rgba(140,139,73,1) 0%, rgba(166,132,126,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8b49', endColorstr='#a6847e', GradientType=1 ); padding: 0px 0 15px 0!important; margin: 0px!important;
}

*/


.signupheading{
  background: rgba(252,252,252,1);
  background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(100%, rgba(175,178,179,1)));
  background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
  background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
  background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
  background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#afb2b3', GradientType=0 ); padding: 20px 0 25px 0 ;
}

.signupheading div{ background: url("../images/lockicon.png") no-repeat 36px 6px; }

.formshadow{ display: block; margin: 0 auto; max-width: 90%; }

.signupheading h2{ margin: 0px; padding: 0px;  font-family:'MyriadPro-Bold'; text-align: center; font-size: 40px; color: #fb4a32; text-transform: uppercase; }



.loginbox h1{ margin: 0px; padding: 5px 0px;  font-family:'MyriadPro-Bold'; text-align: center; font-size: 40px; color: #fb4a32; text-transform: uppercase; background: url("../images/lockicon.png") no-repeat 144px 4px; background-size: 40px; }



.signupheading h3{ margin: 0px; padding: 5px 0 0 0; font-family:'MyriadPro-Bold'; text-align: center; font-size: 28px; color: #000000;}

.signupform_wrapper{ padding-left: 56px; padding-right: 56px; margin-top: 6px; padding-bottom: 0px; min-height: 394px;}

.signupform_wrapper .form-group{ width: 100%; margin: 14px 0; background: #afa288; border-radius: 4px; padding: 2px; box-shadow: 0 0 6px #615b42;}

.signupform_wrapper .form-group .form-control{ width: 100%; background: #412f25; height: 50px; margin: 0px; border: none; border-radius: 0px; font-family:'MyriadPro-Regular'; font-size: 16px; color: #fff; box-shadow: none;}


.signupform_wrapper .form-group .form-control3{ width: 100%; background: #412f25; height: 50px; margin: 0px; border: none; border-radius: 0px; font-family:'MyriadPro-Regular'; font-size: 16px; color: #fff; box-shadow: none;}


.signupform_wrapper   select {

  -webkit-appearance: none;
  -moz-appearance: none;

  appearance: none;
  background: #412f25 url("./images/selectboxbg.png") no-repeat!important; background-position: right top!important; border: none!important; outline: none!important; padding: 0 9px;
}

.signupform_wrapper   select option{ padding: 0 9px;}

.signupform_wrapper .form-group ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff!important; opacity: 10;
}
.signupform_wrapper .form-group ::-moz-placeholder { /* Firefox 19+ */
  color: #fff!important; opacity: 10;
}
.signupform_wrapper .form-group :-ms-input-placeholder { /* IE 10+ */
  color: #fff!important; opacity: 10;
}
.signupform_wrapper .form-group :-moz-placeholder { /* Firefox 18- */
  color: #fff!important; opacity: 10;
}

.signupform_wrapper .form-group .form-control2{ width: 100%; background: #412f25; height: 70px; resize: none; margin: 0px; border: none; border-radius: 0px; font-family:'MyriadPro-Regular'; font-size: 16px; color: #fff; box-shadow: none; padding: 5px 12px 5px 12px;}


.signuprightblock .btn-block{ background: url("./images/btnbg1.png"); width: 390px; height: 100px; display: block; margin: 16px auto; padding: 6px; box-shadow: 0 0 6px #615b42;}

.signuprightblock .btn-block a{ text-decoration: none; outline: none;}
.signuprightblock .btn-block .subbtn{
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 48%, rgba(47,47,47,1) 52%, rgba(66,66,68,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(48%, rgba(38,38,38,1)), color-stop(52%, rgba(47,47,47,1)), color-stop(100%, rgba(66,66,68,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 48%, rgba(47,47,47,1) 52%, rgba(66,66,68,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 48%, rgba(47,47,47,1) 52%, rgba(66,66,68,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 48%, rgba(47,47,47,1) 52%, rgba(66,66,68,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 48%, rgba(47,47,47,1) 52%, rgba(66,66,68,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#424244', GradientType=0 ); display: block; width: 100%; height: 100%; border: none; cursor: pointer; font-size: 30px; color: #fff;
  text-transform: uppercase;  font-family:'MyriadPro-Semibold'; text-shadow: 0 0 4px #000; text-decoration: none;
}

.form-group_chakebox{ margin-top: 26px;}

.form-group_chakebox input[type=checkbox]:not(old){
  width   : 18px;
  margin  : 0;
  padding : 0;
  opacity : 0; cursor: pointer;
}

.form-group_chakebox input[type=checkbox]:not(old) + label{
  display      : inline-block;
  margin-left  : -18px;
  padding-left : 22px;
  background   : url("../images/chakebox1.png") no-repeat 0 0;
  line-height  : 18px;
}


.signupcheckbox input[type=checkbox]:not(old) + label{
  display      : inline-block;
  margin-left  : 0px !important;
  padding-left : 22px;
  background   : url("../images/chakebox1.png") no-repeat 0 0;
  line-height  : 18px;
}


.form-group_chakebox input[type=checkbox]:not(old):checked + label{
  background-position : 0 -18px;
}

.form-group_chakebox label{cursor: pointer; font-weight: normal;   font-family:'MyriadPro-Regular'; color: #000; }



.form-group_chakebox2{ margin-top: 18px;}

.form-group_chakebox2 input[type=checkbox]:not(old){
  width   : 18px;
  margin  : 0;
  padding : 0;
  opacity : 0; cursor: pointer;
}

.form-group_chakebox2 input[type=checkbox]:not(old) + label{
  display      : inline-block;
  margin-left  : -18px;
  padding-left : 22px;
  background   : url("../images/chakebox1.png") no-repeat 0 0;
  line-height  : 18px;
}


.form-group_chakebox2 input[type=checkbox]:not(old):checked + label{
  background-position : 0 -18px;
}

.form-group_chakebox2 label{cursor: pointer; font-weight: normal;   font-family:'MyriadPro-Regular'; color: #000; }



.signupform_wrapper .help-inline{ font-size: 12px; color: #ff0000; padding: 1px 4px 0 4px;}

.signupform_wrapper .help-inlinesub{ font-size: 12px; color: #ff0000; padding: 1px 4px 0 4px;}

.signupform_wrapper .form-group5 span {
    float: right;
    position: absolute;
    top: 0px;
    right: -53px;
}

.signupform_wrapper .form-group5 img {
    width: 50px;
    height: 52px;
    margin: 0;
    background: #afa288;
    padding: 13px 17px;
    box-shadow: 0 0 6px #615b42;
    margin-left: 6px;
}


.signuprightblock h6{ margin: 0; padding:0; font-size: 18px; color: #fe3419; font-family:'MyriadPro-Bold'; text-transform: uppercase; text-align: center;}

.signuprightblock h5{ margin: 10px 0 0 0; padding:14px 0; font-size: 18px; color: #fefefe;  font-family:'MyriadPro-Semibold';   background:#272727  url("../images/lockicon2.png") no-repeat 75px center; text-align: center; }

.signuprightblock h4{ margin: 0; padding:10px 0 12px 0; font-size: 24px; color: #fefefe;  font-family:'MyriadPro-Bold';  background:#fb4a32; text-align: center; text-transform: uppercase; }

.signuprightblock .labelclass{ margin: 5px 0 0 0; padding:0; font-size: 16px; color: #ff1e00; font-family:'MyriadPro-Regular'; padding: 10px 0 14px 0; }


.signuprightblock  .form-group2 span{ color: #fff; padding-right: 10px; font-family:'MyriadPro-Semibold'; }


.signupform_wrapper .form-group4{ width: 48%; float: left; margin:  0; background: #afa288; border-radius: 4px; padding: 2px; box-shadow: 0 0 6px #615b42;}

.signupform_wrapper .form-group4 .form-control3{ width: 100%;  height: 50px; margin: 0px; border: none; border-radius: 0px; font-family:'MyriadPro-Regular'; font-size: 16px; color: #fff; box-shadow: none;}



.signupform_wrapper .form-group5{ width: 48%; float: right; margin: 0; border-radius: 4px; padding: 2px; box-shadow: 0 0 6px #615b42;}

.signupform_wrapper .form-group5 .form-control3{ width: 100%; background: #412f25; height: 50px; margin: 0px; border: none; border-radius: 0px; font-family:'MyriadPro-Regular'; font-size: 16px; color: #fff; box-shadow: none;}

.toplogoblocklogin{ margin: 23px 0; width: 550px; }


.loginbox{ width: 500px!important; display: block!important; margin: 25px auto!important; float: none!important;}


.forgottext{ text-align:  center; padding:12px 0 14px 0; font-family:'MyriadPro-Regular'; font-size: 16px; color: #000;}

.forgottext a{color: #000; padding: 0 5px;}

.forgottext a:hover{color: #fff; text-decoration: none;}




.btn-blocklogin {
  background: rgba(0, 0, 0, 0) url("../images/btnbg1.png") repeat scroll 0 0;
  box-shadow: 0 0 6px #615b42;
  display: block;

  height: 70px; margin: 15px auto;

  padding: 6px;
  width: 200px;
}

.btn-blocklogin a{ text-decoration: none!important;}

.btn-blocklogin .loginbtn {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(38, 38, 38, 1) 48%, rgba(47, 47, 47, 1) 52%, rgba(66, 66, 68, 1) 100%) repeat scroll 0 0;
  border: medium none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "MyriadPro-Semibold";
  font-size: 30px;
  height: 100%;
  text-shadow: 0 0 4px #000;
  text-transform: uppercase;
  width: 100%;
}

.loader{position: absolute; top:49%; left: 41%;}
.signupcheckbox label{width: 18px; height: 18px;}
.signupcheckbox label, .signupcheckbox span{display: inline-block; float: left; cursor: pointer;}


/*---model popup---*/

.modelheader{
    background: rgba(252,252,252,1) !important;
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(100%, rgba(175,178,179,1))) !important;
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%) !important;
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%) !important;
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#afb2b3', GradientType=0 ) !important; padding: 20px 0 25px 0; text-align: center;
}
.modelheader h1{
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    text-transform: uppercase;
    word-wrap: break-word;
}

.modelcontent{}
.modelcontent h3{margin: 0px;
    padding: 0px 0 5px 0;
    font-family: 'MyriadPro-Bold';
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
    color: #fb4a32;
    line-height: 27px;
}
.modelcontent p{margin: 0px;
    padding: 0px;
    font-family: 'MyriadPro-Regular';
    text-align: left;
    font-size: 18px;
    color: #090909;
}

.modelfooter .btnclose {
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 48%, rgba(47,47,47,1) 52%, rgba(66,66,68,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(48%, rgba(38,38,38,1)), color-stop(52%, rgba(47,47,47,1)), color-stop(100%, rgba(66,66,68,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 48%, rgba(47,47,47,1) 52%, rgba(66,66,68,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 48%, rgba(47,47,47,1) 52%, rgba(66,66,68,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 48%, rgba(47,47,47,1) 52%, rgba(66,66,68,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 48%, rgba(47,47,47,1) 52%, rgba(66,66,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#424244', GradientType=0 );
    display: block;
    width: 100px;
    height: 100%;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'MyriadPro-Semibold';
    text-shadow: 0 0 4px #000;
    text-decoration: none;
    float: right;
}
.modal-header .close{background-color: #fb4a32; opacity: 1; height: 24px; width: 24px; color: #fff;}




/*-CreditCard--*/


.creditcardleftblock{ padding-left:0!important; padding-right:0!important; margin-left:0!important; margin-right:0!important; position: relative; flex: 2; float: left !important;}
.creditcardleftblocktop{background-color: rgba(0, 0, 0, 0.8); width: 100%; padding: 19px;}
.creditcardleftblocktop h1{margin: 0px; padding: 0px 0 0 0; font-family:'MyriadPro-Semibold'; text-transform: uppercase; text-align: left; font-size: 37px; color: #fb4a32; line-height: 27px;}
.creditcardleftblocktop p{margin: 0px; padding: 9px 0 0 0; font-family:'MyriadPro-Regular'; text-align: left; font-size: 18px; color: #fff;}
.creditcardleftblocktop strong{font-weight: normal; color: #fb4a32; text-transform: uppercase;}
.creditcardleftblocktop span{font-weight: normal; color: #fb4a32;}

.creditcardleftblockmiddle{ background: rgba(252,252,252,1); width: 100%; padding: 22px 19px;
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(100%, rgba(175,178,179,1)));
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(175,178,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#afb2b3', GradientType=0 );}

.creditcardleftblockbottom{width: 100%;height: 794px; overflow: hidden;}
.creditcardleftblockbottom img{width: 101%;}

.creditcardleftblockmiddle .panel {
    margin-bottom: 0px;
}


.signupform_wrapper .form-group5 {
    position: relative;
}

.creditcardleftblockmiddle .panel-heading {
    padding: 10px 10px;
    font-family: 'MyriadPro-Semibold';
    color:#ff1f01 !important;
    font-size: 29px;
    background-color: #dedfdf !important;
    border: 1px solid #b7afaf !important;
}

.creditcardleftblockmiddle .panel>.table>tbody>tr td{
    width: 50%;
    float: left;
}

.creditcardleftblockmiddle .panel>.table>tbody>tr td:nth-child(2n+0){
    text-align: right !important;
    float: right;
}

.creditcardleftblockmiddle .panel>.table-responsive:last-child>.table:last-child, .panel>.table:last-child {
    border-bottom: 0px !important;
}

.creditcardleftblockmiddle .table-striped>tbody>tr{
    border-bottom: 1px solid #b7afaf !important;
    display: block;
}
.creditcardleftblockmiddle .table>tbody>tr>td, .creditcardleftblockmiddle .table>tbody>tr>th, .creditcardleftblockmiddle .table>tfoot>tr>td, .creditcardleftblockmiddle .table>tfoot>tr>th, .creditcardleftblockmiddle .table>thead>tr>td, .creditcardleftblockmiddle .table>thead>tr>th {
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-family: 'MyriadPro-Regular';
    font-size: 16px;
    color:#090909 !important;
}

.creditcardleftblockmiddle .table>tbody>tr:last-of-type{
    font-weight: bold !important;
}

.creditcardleftblockmiddle  .table-striped>tbody>tr{
    border-bottom: 1px solid #b7afaf !important;
}
.creditcardleftblockmiddle table{border: 1px solid #b7afaf !important;}
.creditcardleftblockmiddle  .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #dedfdf !important;
    width: 100%;
    float: left;
}

.creditcardleftblockmiddle  .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #edeaea !important;
    width: 100%;
    float: left;
}


.form-group_chakebox2 input[type=checkbox]:not(old) {
    width: 18px;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

.creditcardcheckbox label, .creditcardcheckbox span {
    display: inline-block;
    float: left;
    cursor: pointer;
}

.creditcardcheckbox input[type=checkbox]:not(old) + label {
    display: inline-block;
    margin-left: 0px !important;
    padding-left: 22px;
    background: url("../images/chakebox1.png") no-repeat 0 0;
    line-height: 18px;
}

.creditcardcheckbox label {
    width: 18px;
    height: 18px;
}

.form-group_chakebox2 input[type=checkbox]:not(old):checked + label {
    background-position: 0 -18px;
}


.signupform_wrapper .help-inlinesub img {
    width: 50px;
    height: 52px;
    margin: 0;
    background: #afa288;
    padding: 13px 17px;
    box-shadow: 0 0 6px #615b42;
    margin-left: 6px;
    margin-top: -86px;
}

.signupform_wrapper .help-inlinesub span {
    float: right;
    margin-top: 6px;
    margin-right: -57px;
}


.spanalign img{margin-left: 32px !important;}
.signuprightblock .ng-touched .signupform_wrapper{margin: -1px 0px -1px 0px !important;}