.sharebanner_wrapper{ border-bottom: solid 1px #122246; padding-bottom: 25px; margin-bottom: 25px;}

.sharebanner_wrapper:last-of-type{border:none; padding-bottom: 0px; margin-bottom: 0px;}


.sharebanner_wrapper .sharebanner_wrapper_banner{border: solid 2px #ccc; width: 100%;  }

.sharebanner_wrapper .sharebanner_wrapper_banner img{ width: 100%;}


.sharebanner_wrapper .sharebanner_wrapper_bannertext{ width: 100%; float: none; margin:  0 0 15px 0; text-align: center; font-family: 'MyriadPro-Bold';
    text-transform: uppercase;

    font-size: 18px;
    color: #fb4a32;
    line-height: 20px;}

.sharebanner_wrapper .sharebanner_wrapper_bannertext label{ display: block; font-weight: normal;}


.shareh1title{  font-family: "MyriadPro-Bold";}

.sharebanner_textarea{ margin-top: 20px;}
.sharebanner_textarea textarea{ width: 100%; min-height: 150px; border: solid 1px #ccc; resize: none; background: #f0e9e9; padding: 10px;}

.sharebanner_btnwrapper .grabcodebanner{    color: #fff;
    cursor: pointer;
    background-color: #4c4d4e;
    -webkit-box-shadow: 0px 1px 0px rgba(4, 4, 4, 1);
    -moz-box-shadow: 0px 1px 0px rgba(4, 4, 4, 1);
    box-shadow: 0px 1px 0px rgba(4, 4, 4, 1);
    padding: 6px 8px 5px 8px;
    border: none; display:block; width: 120px; margin: 0 auto; margin-top: 15px;}




.sharebanner_btnwrapper{ border-bottom: solid 1px #122246; padding-bottom: 20px; margin-bottom: 20px;}



.mainmodal .modal-content{ border-radius: 0px; border: solid 10px #122246; background-color: #e2e2e2;}

.mainmodal .modal-header {
    padding: 15px;
    border-bottom: 1px solid #122246!important;
}



@media(max-width:480px) {

    .sharebanner_wrapper .sharebanner_wrapper_banner{display:block; float: none;  width: 100%; max-width:inherit;}

    .sharebanner_wrapper .sharebanner_wrapper_bannertext{ width: 100%; float: none; text-align:center; }
    }




/*-----------------------Auction  bidding--------------------------*/
/*-----------------------Auction  bidding--------------------------*/
/*-----------------------Auction  bidding--------------------------*/

.auctionbidding_body{ margin:0px; padding:14px;}
.auctionbidding_block1 .auctionbidding_block1_left{ padding:0px; margin:0px;}

.auctionbidding_block1 .auctionbidding_block1_right{ padding:0px; margin:0px;}


.auctionbidding_block1_tab{ background:#3f4041; padding:8px 0 0 0;}

.auctionbidding_block1_tab h2{ margin:0; padding:0; background: #dfdfdf; display:inline-block; -moz-border-radius-topright: 50px;
    border-top-right-radius: 50px; -moz-border-radius-topleft: 50px;
    border-top-left-radius: 50px; font-size:14px; color:#575757; text-transform:uppercase;     font-family: 'open_sansregular'; padding:12px 36px 12px 36px; margin-left:-36px;}

.auctionbidding_block1_tab h2:first-child{ margin-left:0px;}
.auctionbidding_block1_tab  .ab_tabclose{
    background: rgba(70,201,0,1);
    background: -moz-linear-gradient(top, rgba(70,201,0,1) 0%, rgba(57,164,0,1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(70,201,0,1)), color-stop(100%, rgba(57,164,0,1)))!important;
    background: -webkit-linear-gradient(top, rgba(70,201,0,1) 0%, rgba(57,164,0,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(70,201,0,1) 0%, rgba(57,164,0,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(70,201,0,1) 0%, rgba(57,164,0,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(70,201,0,1) 0%, rgba(57,164,0,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46c900', endColorstr='#39a400', GradientType=0 )!important; color:#fff!important; position:relative; z-index:9;
}

.auctionbidding_block1_tab h2 a{ display:inline-block; width:16px; height:16px; margin-left:16px; background:url(../images/auction_bd_tab_bg.png) no-repeat; float:right;}


.auctionbidding_block1_tab  .ab_tabclose a{ background:url(../images/auction_bd_tab_bg_active.png) no-repeat;}


.auctionbidding_block1_left_box{ margin-top:16px;}

.auctionbidding_block1_left_box_left{ margin:0; padding:0 10px 0 0;}

.auctionbidding_block1_left_box_left .auction_bd_bigcar{ border:solid 1px #fff; width:100%; margin-bottom:2px; }

.auctionbidding_block1_left_box_left .auction_bd_bigcar img{ width:100%;}

.auctionbidding_block1_left_box_left  .auction_sm_bigcar{ width:100%;}

.auctionbidding_block1_left_box_left  .ab_scar{ background:#fff; width:19%; padding:1px; float:left; margin:4px 0.5%;}
.auctionbidding_block1_left_box_left  .ab_scar img{ width:100%;}

.auctionbidding_block1_left_box_right{ background:#e2e2e2; padding:0px 0 10px 0!important; margin: 0!important;}
.auctionbidding_block1_left_box_right .nav-tabs li{ width:50%;}
.auctionbidding_block1_left_box_right .nav-tabs li a{ width:100%; display:block; background:#3f4041!important; text-align:center; font-size:16px; color:#9a9a9a!important; text-transform:uppercase; font-family: 'open_sanssemibold'; margin:0px; padding:0px; border-radius:0px; line-height:44px; border:none!important;}



.auctionbidding_block1_left_box_right .nav-tabs .active a{ background:#e2e2e2!important;  color:#525252!important;  margin:0px;  border-radius:0px;}

.auctionbidding_block1_left_box_right .nav-tabs a:hover{ background:#e2e2e2;   color:#525252; margin:0px;  border-radius:0px;}

.auctionbidding_block1_right{ padding-left:10px!important;}
.auctionbidding_block2table{ margin:0px!important; padding:0!important;}


.auctionbiddingblock2topbg1{ background:#fb4a32; margin-bottom:17px; height:49px;}

.auctionbiddingblock2topbg1 h3{ margin:0; padding:9px; font-size:18px; color:#ffffff; font-family: 'open_sanssemibold'; line-height:28px; }

.auctionbiddingblock2topbg1 h3 span{ font-size:14px; font-family: 'open_sansregular'; text-align:right; display:in