
<div class="page-wrapper adminlist">
    <div class="blockmaininner">
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12 adminlistmessageblock">
                <!--<div *ngFor="let item1 of messages">-->
                <!--<p *ngIf="typeof(messages)!='undefined' " class="bg-success">{{messages.message}}.</p>-->
                <div [innerHtml]="messages"></div>
                <!--<p class="bg-warning">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p class="bg-danger">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
                <!-- </div>-->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="adminlistblock">
                    <div class="adminlistheader">
                        <h2><span>Free Membership</span> Views</h2>
                        <ul class="list-inline">
                            <li> <div class="searchbox"><input style="right: 198px;" [(ngModel)]="query" placeholder="Search "></div></li>
                            <li>
                                <div class="addbtnwrapper">
                                    <!--       <a [routerLink]="['/addaffiliate']"><button class="addbtn" type="button">Add Affiliate</button></a>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="adminlistlists">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>First Name <b [ngClass]="getSortClass('fname')" (click)="manageSorting('fname')" ></b></th>
                                    <th>Last Name <b [ngClass]="getSortClass('lname')" (click)="manageSorting('lname')" ></b></th>
                                    <th>Email <b [ngClass]="getSortClass('email')" (click)="manageSorting('email')" ></b></th>
                                    <th>City<b [ngClass]="getSortClass('city')" (click)="manageSorting('city')" ></b></th>
                                    <th>State/Address/Zip</th>
                                    <th>Phone<b [ngClass]="getSortClass('phone')" (click)="manageSorting('phone')" ></b></th>
                                    <th>Access Code </th>
                                    <th>Status <b [ngClass]="getSortClass('is_active')" (click)="manageSorting('is_active')" ></b></th>
                                    <th>Date Added <b [ngClass]="getSortClass('added_on')" (click)="manageSorting('added_on')" ></b></th>
                                   <!-- <th>Action</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <span *ngIf="cardata.length==0" class="noresult noresinventory">No Result Found!</span>
                                <tr  *ngFor="let item of cardata|filter:query|orderBy:orderbyquery:orderbytype|paginate: { itemsPerPage: 10, currentPage: p };trackBy:item?._id">
                                    <td>{{item.fname}}</td>
                                    <td>{{item.lname}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{(item.city)?item.city:'N/A'}}</td>
                                    <!--<td>{{item.state}}</td>-->

                                    <td>{{item.state}} <br>{{item.address}}<br>{{item.zip}}</td>
                                    <!--<td>{{item.zip}}</td>-->
                                    <td>{{item.phone}}</td>

                                    <!--<td><a href="javascript:void(0)"> {{(item.is_active==1) ? 'Active' : 'Blocked'}}</a></td>-->
                                    <td>{{(item.randomstring)?item.randomstring:'N/A'}}</td>
                                    <!--<td *ngIf="item.finance_check==1" class="financestatusApproved">Approved</td>
                                    <td *ngIf="item.finance_check==2" class="financestatusDecline">Decline</td>-->
                                    <td><a href="javascript:void(0)" (click)="changeStatus(item)"> {{(item.is_active==1) ? 'Active' : 'Blocked'}}</a></td>
                                    <td [innerHtml]="(item.added_on)?commonservices.convertunixtodate(item.added_on):'N/A'"></td>
                                    <!--<td>
                                        <div class="actionbtns">

                                            <a><button class="btndelete" style="width:100%" type="button" (click)="reviewfinance(item)"  value="Delete">Send Invitation</button></a>
                                           &lt;!&ndash; <a><button class="btndelete" style="width:100%" type="button" (click)="customerdelete(item)"  value="Delete">Delete</button></a>&ndash;&gt;

                                            &lt;!&ndash;<a><button value="update" (click)="customerupdate()"></button></a>&ndash;&gt;
                                        </div>
                                    </td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="cardata.length>0" class="col-lg-12 col-md-12 paginationwrapper">
                <span>Page {{p}} of {{pagec}}</span> <pagination-controls (pageChange)="p = $event" style="display: inline-block"></pagination-controls>
            </div>
        </div>
        <!-- /.row -->

    </div>
</div>
<!-- /#page-wrapper -->

