
<div class="page-wrapper adminlist">
    <div class="blockmaininner">
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12 adminlistmessageblock">
                <!--<div *ngFor="let item1 of messages">-->
                    <!--<p *ngIf="typeof(messages)!='undefined' " class="bg-success">{{messages.message}}.</p>-->
                <div [innerHtml]="messages"></div>
                    <!--<p class="bg-warning">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p class="bg-danger">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
               <!-- </div>-->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12 bannersizelistblock">
                <div class="adminlistblock">
                    <div class="adminlistheader">
                        <h2><span>Color</span> listing</h2>
                        <ul class="list-inline">
                            <li><div class="searchbox" ><input [(ngModel)]="query" placeholder="Search "></div></li>
                            <li>
                                <div class="addbtnwrapper">
                                    <a [routerLink]="['/addcolor']"><button class="addbtn" type="button" value="Add color">Add Color </button></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="adminlistlists" >
                        <div class=" table-responsive">
                            <table class="table table-striped">
                            <thead>
                            <tr>
                              <!--  <th>Base Price</th>-->
                               <th>Base Price <b [ngClass]="getSortClass('color')" (click)="manageSorting('color')" ></b></th>
                               <th>Priority <b [ngClass]="getSortClass('priority')" (click)="manageSorting('priority')" ></b></th>
                                <th>Status <b [ngClass]="getSortClass('is_active')" (click)="manageSorting('is_active')" ></b></th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  *ngFor="let item of data|filter:query|orderBy:orderbyquery:orderbytype|paginate: { itemsPerPage: 10, currentPage: p };trackBy:item?._id">
                                <td>{{item.color}}</td>
                                <td>{{item.priority}}</td>
                                <td><a href="javascript:void(0)" class="{{(item.is_active==1) ? 'btninactive' : 'btndelete'}}" (click)="changeStatus(item)"> {{(item.is_active==1) ? 'Active' : 'Blocked'}}</a></td>

                                <td>
                                    <div class="actionbtns">
                                        <a [routerLink]="['/editcolor', item._id]"><button class="btnedit" type="button" value="Edit">Edit</button></a>
                                        <a><button class="btndelete" type="button" (click)="deleterow(item)"  value="Delete">Delete</button></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 paginationwrapper">
               <span>Page {{p}} of {{pagec}}</span> <pagination-controls (pageChange)="p = $event" style="display: inline-block"></pagination-controls>
            </div>
        </div>
        <!-- /.row -->

    </div>
</div>
<!-- /#page-wrapper -->

