<div class="body-inner">
    <div class="page-wrapper page-wrapper-inner">
        <div class="blockmaininner">
            <!-- .row -->
            <div class="row">
                <div class="col-lg-12 col-md-12 auctioninventoryreview">
                    <div class="auctioninventoryblock">
                        <div class="auctioninventoryheader">
                            <h2><span>Auction</span> Inventory Review</h2>
                            <ul class="list-inline">
                                <li><div class="btn-group bootstrap-select makedropdown">
                                    <select id="query_make" class="inventory_review" [(ngModel)]="query_make" (change)="startquerysearch($event)">
                                        <option value='0' selected="selected" >Select a Make</option>
                                        <!--<option>{{carlogoval1.name}}</option>-->
                                        <option *ngFor="let carlogoval1 of carlogolist" [value]="carlogoval1._id">{{carlogoval1.name}}</option>
                                    </select>
                                    <!--<button type="button" class="btn dropdown-toggle btn-default btndropdown" data-toggle="dropdown">
                                        <span class="selecttext">Select a Make</span>&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu open" role="menu">
                                        <li class="selected">
                                            <a><span class="text">Acura</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">BMW</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">Chevrolet</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">Datsun</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">Eagle</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">FIAT</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">Genesis</span></a>
                                        </li>
                                    </ul>-->
                                </div></li>
                                <li>
                                    <div class="btn-group bootstrap-select modeldropdown">

                                        <select id="query_model" class="inventory_review" (change)="startquerysearch($event)" [(ngModel)]="query_model">
                                            <option selected="selected"  value='0' >Select a Model</option>
                                            <option *ngFor="let itemcarmodel of carlistarr" [value]="itemcarmodel._id">{{itemcarmodel.model}}</option>
                                        </select>
                                        <!--<button type="button" class="btn dropdown-toggle btn-default btndropdown" data-toggle="dropdown">
                                            <span class="selecttext">Select a Model</span>&nbsp;<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu open" role="menu">
                                            <li class="selected">
                                                <a><span class="text">CL</span></a>
                                            </li>
                                            <li>
                                                <a><span class="text">ILX</span></a>
                                            </li>
                                            <li>
                                                <a><span class="text">Integra</span></a>
                                            </li>
                                            <li>
                                                <a><span class="text">Legend</span></a>
                                            </li>
                                            <li>
                                                <a><span class="text">MDX</span></a>
                                            </li>
                                            <li>
                                                <a><span class="text">NSX</span></a>
                                            </li>
                                            <li>
                                                <a><span class="text">RDX</span></a>
                                            </li>
                                        </ul>-->
                                    </div>
                                </li>
                                <li>
                                    <div class="btn-group bootstrap-select auctiondropdown">
                                        <select id="query_auction" [(ngModel)]="query_auction" class="inventory_review" (change)="startquerysearch($event)">
                                            <option value="0" selected="selected">Select an Auction</option>
                                            <option *ngFor="let itemauction of auctionlistarr" [value]="itemauction._id">{{itemauction.name}}</option>
                                        </select>
                                   <!-- <button type="button" class="btn dropdown-toggle btn-default btndropdown" data-toggle="dropdown">
                                        <span class="selecttext">Select by Auction</span>&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu open" role="menu">
                                        <li class="selected">
                                            <a ><span class="text">Westbury</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">AutoFair</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">Pre Owned</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">Wilson's</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">Auto Auction</span></a>
                                        </li>
                                    </ul>-->
                                </div>
                                </li>
                                <li>
                                    <div class="btn-group bootstrap-select yeardropdown">
                                        <select [(ngModel)]="query_year" class="inventory_review" (change)="startquerysearch($event)">
                                            <option value="0" selected="selected">Select Year</option>
                                            <option *ngFor="let caryearval of carautoyearlist" [value]="caryearval._id">{{caryearval.year}}</option>
                                        </select>
                                    <!--<button type="button" class="btn dropdown-toggle btn-default btndropdown" data-toggle="dropdown">
                                        <span class="selecttext">2010</span>&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu open" role="menu">
                                        <li class="selected">
                                            <a><span class="text">2010</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">2011</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">2012</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">2013</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">2014</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">2015</span></a>
                                        </li>
                                        <li>
                                            <a><span class="text">2016</span></a>
                                        </li>
                                    </ul>-->
                                </div>
                                </li>
                                <li><div class="searchbox"><input (keyup)="startquerysearch($event)" [(ngModel)]="query_key" placeholder="Search by Model, Price,Engine type, Keyword"></div></li>
                            </ul>
                        </div>
                        <div class="inventorylistswrapper">
                            <div class="row">
                                <span class="noresult noresinventory">No result found!</span>

                            <span  *ngFor="let itemcar of cardata|filter:query |paginate: { itemsPerPage: 9, currentPage: p };let icar=index">
                           <div  class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 inventorysinglelist inventorysinglelistblockcon">
                                <div class="inventorysinglelistblock">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12 pull-left infobox">
                                             <table class="table">
                                            <tbody>
                                            <tr>
                                                <td><span>Make:</span></td>
                                                <td><span>{{getcarlogo(itemcar)}}</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>Model:</span></td>
                                                <td>{{itemcar.model}}</td>
                                            </tr>
                                            <tr>
                                                <td><span>Year:</span></td>
                                                 <td>{{getcaryear(itemcar)}}</td>
                                            </tr>
                                            <tr>
                                                <td><span>Miles:</span></td>
                                                <td>{{getmileage(itemcar)}}</td>
                                            </tr>
                                            <tr>
                                                <td><span>Color:</span></td>
                                                <td>{{getcolor(itemcar)}}</td>
                                            </tr>
                                            <tr>
                                                <td><span>Wholesale:</span></td>
                                                <td>{{itemcar.est_retail_value}}</td>
                                            </tr>
                                            <tr>
                                                <td><span>Engine Type:</span></td>
                                                <td>{{itemcar.enginetype}}</td>
                                            </tr>
 <tr>
                                                    <td colspan="2"><div  class="viewdetail"><a  [routerLink]="['/auctioininventorydetails', itemcar._id]" >View Details</a></div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                            <!-- <table class="table">
                                                 <tbody>
                                                 <tr>
                                                     <td><span>Make:</span></td>
                                                     <td>Renault</td>
                                                 </tr>
                                                 <tr>
                                                     <td><span>Model:</span></td>
                                                     <td>Duster</td>
                                                 </tr>
                                                 <tr>
                                                     <td><span>Year:</span></td>
                                                     <td>2016</td>
                                                 </tr>
                                                 <tr>
                                                     <td><span>Miles:</span></td>
                                                     <td>600</td>
                                                 </tr>
                                                 <tr>
                                                     <td><span>Color:</span></td>
                                                     <td>Red</td>
                                                 </tr>
                                                 <tr>
                                                     <td><span>Wholesale:</span></td>
                                                     <td>$8,46,999</td>
                                                 </tr>
                                                 <tr>
                                                     <td colspan="2"><div  class="viewdetail"><a href="" target="_blank">View Details</a></div></td>
                                                 </tr>
                                                 </tbody>
                                             </table>-->
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 pull-right imgbox">
                                            <div class="imgouter">


                                                <div class="imgwrapper">
                                                    <img src="{{sharefilesrc}}{{itemcar.auctiondata[0].filename}}" class="auction_toplogo">
                                                    <img src="{{sharefilesrc}}{{itemcar.filename}}">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </span>


                                <!--<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 inventorysinglelist">
                                    <div class="inventorysinglelistblock">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 pull-left infobox">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td><span>Make:</span></td>
                                                        <td>Renault</td>
                                                     </tr>
                                                    <tr>
                                                        <td><span>Model:</span></td>
                                                        <td>Duster</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Year:</span></td>
                                                        <td>2016</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Miles:</span></td>
                                                        <td>600</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Color:</span></td>
                                                        <td>Red</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Wholesale:</span></td>
                                                        <td>$8,46,999</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><div class="viewdetail"><a href="" target="_blank">View Details</a></div></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 pull-right imgbox">
                                                <div class="imgouter">
                                                    <div class="imgwrapper">
                                                        <img src="images/auctionimg_1.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 paginationwrapper">
                            <span>Page {{p}} of {{pagec}}</span> <pagination-controls (pageChange)="p = $event" style="display: inline-block"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>