<div class="page-wrapper addmembershippackage addadmin">
    <div class="blockmaininner">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="pageheader"><span>Edit</span> Profile</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 addadminblock">
                <form novalidate [formGroup]="addadminform" (ngSubmit)="doLogin(loginForm.value)"  name="addadminform"  class="form-inline">
                    <div class="signupform_wrapper">


                       <!-- <div class="form-group hide">
                            <input [formControl]="addadminform.controls['username']" name="username"  type="hidden" class="form-control" placeholder="Password"/>
                            <span *ngIf ="addadminform.controls['username'].touched && !addadminform.controls['username'].valid" class="help-inline"><span class="errormsgtxt">Password  is Required !</span><img src="images/iconquestion.png"></span>


                        </div>-->

                        <div class="form-group">
                            <input [formControl]="addadminform.controls['fname']" name="fname"  type="text" class="form-control" placeholder="First Name"/>
                            <span *ngIf ="addadminform.controls['fname'].touched && !addadminform.controls['fname'].valid" class="help-inline"><span class="errormsgtxt">First Name is Required !</span><img src="images/iconquestion.png"></span>


                        </div>

                        <div class="form-group">
                            <input [formControl]="addadminform.controls['lname']" type="text" class="form-control" placeholder="Last Name"/>
                            <!-- <span class="help-inline">Please correct the error</span>-->
                            <span *ngIf ="addadminform.controls['lname'].touched && !addadminform.controls['lname'].valid" class="help-inline"><span class="errormsgtxt">Last Name is Required !</span><img src="images/iconquestion.png"></span>
                        </div>

                        <div class="form-group">
                            <input type="text" [formControl]="addadminform.controls['email']" type="email" class="form-control" placeholder="Email Address"/>
                            <!-- <span class="help-inline">Please correct the error</span>-->
                            <span *ngIf ="addadminform.controls['email'].touched && !addadminform.controls['email'].valid" class="help-inline"><span class="errormsgtxt">Email is Required and must be valid !</span><img src="images/iconquestion.png"></span>
                        </div>

                        <div class="form-group">
                            <textarea [formControl]="addadminform.controls['address']" name="address" class="form-control" placeholder="Address">
                            </textarea>
                            <!--<input/>-->
                            <span  *ngIf ="addadminform.controls['address'].touched && !addadminform.controls['address'].valid" class="help-inline"><span class="errormsgtxt">Address is Required !</span> <img src="images/iconquestion.png"></span>
                        </div>

                        <div class="form-group">
                            <input [formControl]="addadminform.controls['city']" name="city"  type="text" class="form-control" placeholder="City"/>
                            <span  *ngIf ="addadminform.controls['city'].touched && !addadminform.controls['city'].valid" class="help-inline"><span class="errormsgtxt">City is Required ! </span><img src="images/iconquestion.png"></span>
                        </div>

                        <div class="form-group">

                            <select class="form-control3" [formControl]="addadminform.controls['state']" name="state" >
                                <option value="" selected="selected"><span class="errormsgtxt">Select Your State</span></option>
                                <option *ngFor="let obj of getusastates" [value]="obj.abbreviation">{{obj.name}}</option>
                            </select>
                            <span  *ngIf ="addadminform.controls['state'].touched && !addadminform.controls['state'].valid" class="help-inline spanalign"><span class="errormsgtxt">State is Required ! </span><img src="images/iconquestion.png"></span>
                        </div>

                        <div class="form-group">
                            <input [formControl]="addadminform.controls['zip']" name="zip"  type="text" class="form-control" placeholder="Zip Code"/>
                            <span  *ngIf ="addadminform.controls['zip'].touched && !addadminform.controls['zip'].valid" class="help-inline"><span class="errormsgtxt">Zip is Required ! </span><img src="images/iconquestion.png"></span>
                        </div>
                        <div class="form-group">
                            <input [formControl]="addadminform.controls['phone']" name="phone"  type="text" class="form-control" placeholder="Phone"/>
                            <span  *ngIf ="addadminform.controls['phone'].touched && !addadminform.controls['phone'].valid" class="help-inline"><span class="errormsgtxt">Phone is Required !</span> <img src="images/iconquestion.png"></span>
                        </div>
                        <div class="form-group">
                            <input [formControl]="addadminform.controls['description']" name="description"  type="text" class="form-control" placeholder="Description"/>
                           <!-- <span  *ngIf ="addadminform.controls['description'].touched && !addadminform.controls['description'].valid" class="help-inline"><span class="errormsgtxt">Description is Required !</span> <img src="images/iconquestion.png"></span>-->
                        </div>
                        <div class="form-group">
                            <input [formControl]="addadminform.controls['websiteurl']" name="websiteurl"  type="text" class="form-control" placeholder="Website Url"/>
                           <!-- <span  *ngIf ="addadminform.controls['websiteurl'].touched && !addadminform.controls['websiteurl'].valid" class="help-inline"><span class="errormsgtxt">Website Url is Required !</span> <img src="images/iconquestion.png"></span>-->
                        </div>

                        <div class="form-group">
                            <input type="hidden" [formControl]="addadminform.controls['filename']" name="filename" class="form-control" placeholder="Filename"/>
                            <!--&lt;!&ndash;<span *ngIf ="addadminform.controls['filename'].touched && !addadminform.controls['filename'].valid" class="help-inline"><span class="errormsgtxt">Filename is Required !</span><img src="images/iconquestion.png"></span>&ndash;&gt;-->
                        </div>
                        <div class="form-group">
                            <input type="hidden" [formControl]="addadminform.controls['banner']" name="banner" class="form-control" placeholder="Banner"/>
                            <!--&lt;!&ndash;<span *ngIf ="addadminform.controls['filename'].touched && !addadminform.controls['filename'].valid" class="help-inline"><span class="errormsgtxt">Filename is Required !</span><img src="images/iconquestion.png"></span>&ndash;&gt;-->
                        </div>
                        <div class="form-group_chakebox signupcheckbox">
                            <input id="checkbox1" type="checkbox" name="checkbox1" [formControl]="addadminform.controls['is_active']" value="1"/><label for="checkbox1"></label><span>Is Active</span>
                            <span *ngIf ="addadminform.controls['is_active'].touched && !addadminform.controls['is_active'].valid" class="help-inline">You must select checkbox</span>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="browsefileblock">
                            <label>Upload Logo</label>
                            <input type="file"
                                   ngFileSelect
                                    [options]="basicOptions"
                                   (onUpload)="handleUpload($event)">
                            <!--<div class="responsceclass">
                                Response: {{ response | json }}
                            </div>-->
                            <div *ngIf="progress">
                                Uploading: {{ progress }}%
                            </div>
                            <div *ngIf="uploadedfilesrc" class="browsefileblockimg">
                                <img src="{{uploadedfilesrc}}" >
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="browsefileblock">
                            <label>Upload Banner</label>
                            <input type="file"

                                   ngFileSelect
                                   [options]="basicOptions"
                                   (onUpload)="handleUploadbanner($event)">
                            <!--<div class="responsceclass">
                                Response: {{ response | json }}
                            </div>-->
                            <div *ngIf="progress1">
                                Uploading: {{ progress1 }}%
                            </div>
                            <div *ngIf="uploadedbannersrc" class="browsefileblockimg">
                                <img src="{{uploadedbannersrc}}" >
                            </div>
                        </div>
                    </div>
                    <div class="submitwrap">
                        <button (click)="submitform()" type="button" value="Submit" class="subbtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>

</div>
    </div>