<div class="signinwrapperblock">
    <div class="container-fluid signup_body_wrapper adminsignup_body_wrapper">
        <div class="container-fluid toplogoblock toplogoblocklogin" >
            <a href="javascript:void(0)"><img src="images/logo1.png" alt="" class="logo1" /></a>
            <!--<span class="logodevider"></span>
            <a href="javascript:void(0)"><img src="images/logo2.png" alt=""  class="logo2"/></a>-->
        </div>

        <div class="container-fluid signinmiddleblock">
            <div class="row">
                <form novalidate [formGroup]="adminloginform" name="loginform1">
                    <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 signuprightblock loginbox">
                        <div class="signupheading" style="padding-bottom: 22px;">
                            <h1>Dealer Login </h1>
                        </div>
                        <img src="images/formshadow.png" alt="" class="formshadow"/>
                        <div class="signupform_wrapper" style="min-height: inherit; padding-bottom: 10px; padding-top: 0px; margin-top: 0px;">


                            <span class="error" *ngIf="loginerror==0">Username/Password you have entered is invalid</span>

                            <div class="form-group">
                                <input [formControl]="adminloginform.controls['username']" name="username" type="text" class="form-control" placeholder="User Name"/>
                                <span *ngIf="adminloginform.controls['username'].touched &&  !adminloginform.controls['username'].valid" class="help-inline">Username is Required ! <img src="images/iconquestion.png"></span>
                                <!-- <span class="help-inline">Please correct the error</span>-->

                            </div>

                            <div class="form-group">
                                <input [formControl]="adminloginform.controls['password']" name="password" type="password" class="form-control" placeholder="Password"/>
                              <span *ngIf="adminloginform.controls['password'].touched && !adminloginform.controls['password'].valid" class="help-inline">Password is Required !<img src="images/iconquestion.png"></span>
                                <!-- <span class="help-inline">Please correct the error</span>-->
                                <span></span>
                            </div>








                        </div>
                        <div class="btn-blocklogin" style="margin-top: 10px;">
                            <input (click)="submitform()" type="button" value="Submit" class="loginbtn"/>
                        </div>
                        <div class="forgottext">
                            <a href="javascript:void(0)">Forgot Password?</a><br>
                            <a [routerLink]="['/signup']">Signup</a>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

