
<div class="page-wrapper adminlist">
    <div class="blockmaininner">
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12 adminlistmessageblock">
                <!--<div *ngFor="let item1 of messages">-->
                    <!--<p *ngIf="typeof(messages)!='undefined' " class="bg-success">{{messages.message}}.</p>-->
                <div [innerHtml]="messages"></div>
                    <!--<p class="bg-warning">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p class="bg-danger">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
               <!-- </div>-->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12 bannerlistblock">
                <div class="adminlistblock">
                    <div class="adminlistheader">
                        <h2><span>Banner</span> listing</h2>
                        <div class="addbtnwrapper">
                             <a [routerLink]="['/addbanner']"><button class="addbtn" type="button" value="Add banner size">Add Banner</button></a>
                        </div>
                    </div>
                    <div class="adminlistlists" >
                        <div class="searchbox" ><input [(ngModel)]="query" placeholder="Search "></div>
                        <div class=" table-responsive">
                            <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Banner Name <b [ngClass]="getSortClass('bannername')" (click)="manageSorting('bannername')" ></b></th>
                                <th>Banner <b [ngClass]="getSortClass('filename')" (click)="manageSorting('filename')" ></b></th>
                                <th>Banner Size<b [ngClass]="getSortClass('bannersize')" (click)="manageSorting('bannersize')" ></b></th>
                                <th>Share Link <b [ngClass]="getSortClass('sharelink')" (click)="manageSorting('sharelink')" ></b></th>
                                <th>Status<b [ngClass]="getSortClass('is_active')" (click)="manageSorting('is_active')" ></b></th>
                                <th>Date Added <b [ngClass]="getSortClass('added_on')" (click)="manageSorting('added_on')" ></b></th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  *ngFor="let item of data|filter:query|orderBy:orderbyquery:orderbytype|paginate: { itemsPerPage: 10, currentPage: p };trackBy:item?._id">
                                <td>{{item.bannername}}</td>
                                <td><div *ngIf="sharefilesrc" style="text-align:center;width:200px;height:150px;margin:10px 0;border:1px solid #ccc;padding:4px;"><img  style="max-width: 100%;max-height:100%;" *ngIf="item.filename" src="{{sharefilesrc}}{{item.filename}}"></div></td>

                                <td>
                                    <div *ngFor="let item2 of item.bannersizedetails1"><span *ngIf="item2._id==item.bannersize">{{item2.sizename}}</span></div></td>
                               <!-- <td>{{item.bannersizedetails[0].sizename}}-->


 
                             <!--   <td>{{item.sharelinkdetails[0].name}}</td>-->
                                <td>
                                    <div *ngFor="let item1 of item.sharelinkdetails"><span *ngIf="item1._id==item.sharelink">{{item1.name}}</span></div></td>

                                <td><a href="javascript:void(0)" (click)="changeStatus(item)"> {{(item.is_active==1) ? 'Active' : 'Blocked'}}</a></td>
                                <td [innerHtml]="commonservices.convertunixtodate(item.added_on)"></td>

                                <td>
                                    <div class="actionbtns">
                                        <a [routerLink]="['/editbanner', item._id]"><button class="btnedit" type="button" value="Edit">Edit</button></a>
                                        <a><button class="btndelete" type="button" (click)="deleterow(item)"  value="Delete">Delete</button></a>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 paginationwrapper">
               <span>Page {{p}} of {{pagec}}</span> <pagination-controls (pageChange)="p = $event" style="display: inline-block"></pagination-controls>
            </div>
        </div>
        <!-- /.row -->

    </div>
</div>
<!-- /#page-wrapper -->

