<div class="body-inner">
    <div class="page-wrapper page-wrapper-inner">
    <div class="blockmaininner">
        <!-- .row -->
        <div class="row">
            <div class="col-lg-12 col-md-12 upcomingauctions">
                <div class="adminlistblock">
                    <div class="adminlistheader">
                        <h2><span>Upcoming</span> Auction</h2>
                        <ul class="list-inline">
                            <li><div class="searchbox"><input [(ngModel)]="query" placeholder="Search by Customer id, Auction, Status"></div></li>
                        </ul>
                    </div>
                    <div class="adminlistlists dealerlists">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Auction</th>
                                    <th>Auction Name<b class="caret-up-down"></b></th>
                                    <th>Auction Date<b class="caret-down"></b></th>
                                    <th>Cars Available<b class="caret-down"></b></th>
                                    <th>View Cars<b class="caret-down"></b></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let itemrs of auctionlistarr let i=index">
                                    <td>{{i+1}}</td>
                                    <td><div class="imgdealerwrapper"><img src="{{filesrc}}/{{itemrs.filename}}"></div></td>
                                    <td>{{itemrs.name}}</td>
                                    <td>{{itemrs.auction_date_formatted}}</td>
                                    <td>{{itemrs.cardata.length}}</td>
                                    <td>
                                        <ul *ngIf="itemrs.cardata.length>0" class="automatchwrapper automatchwrapperimglist list-inline">
                                            <li *ngFor="let itemcar of itemrs.cardata let icar=index" ><div class="automatchimgwrapper"><img src="{{filesrc}}/{{itemcar.filename}}"></div></li>


                                        </ul>
                                        <div class="actionbtns">
                                            <a><button class="btnedit" type="button" value="Edit">View All</button></a>
                                        </div>
                                    </td>
                                </tr>

                               </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>