
<div class="page-wrapper addmembershippackage adminlist">
    <div class="blockmaininner">
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12 adminlistmessageblock">
                <!--<div *ngFor="let item1 of messages">-->
                <!--<p *ngIf="typeof(messages)!='undefined' " class="bg-success">{{messages.message}}.</p>-->
                <div [innerHtml]="messages"></div>
                <!--<p class="bg-warning">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p class="bg-danger">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
                <!-- </div>-->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12 bannerlistblock">
                <div class="adminlistblock">
                    <div class="adminlistheader">
                        <h2><span>Membership Package</span> listing</h2>

                        <ul class="list-inline">
                            <li><div class="searchbox" ><input [(ngModel)]="query" placeholder="Search "></div></li>
                            <li><div class="addbtnwrapper">
                                <a [routerLink]="['/addmembershippackage']"><button class="addbtn" type="button" value="Add package">Add Package</button></a>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="adminlistlists" >
                        <div class=" table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Package Name <b [ngClass]="getSortClass('name')" (click)="manageSorting('name')" ></b></th>
                                    <th>Image<b [ngClass]="getSortClass('filename')" (click)="manageSorting('filename')" ></b></th>
                                    <th>Free Member<b [ngClass]="getSortClass('free_member')" (click)="manageSorting('free_member')" ></b></th>
                                    <th>Cost Extra Member<b [ngClass]="getSortClass('cost_extra_member')" (click)="manageSorting('cost_extra_member')" ></b></th>
                                    <th>Description<b [ngClass]="getSortClass('description')" (click)="manageSorting('description')" ></b></th>
                                    <th>Priority <b [ngClass]="getSortClass('priority')" (click)="manageSorting('priority')" ></b></th>
                                    <th>Status<b [ngClass]="getSortClass('is_active')" (click)="manageSorting('is_active')" ></b></th>

                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  *ngFor="let item of data|filter:query|orderBy:orderbyquery:orderbytype|paginate: { itemsPerPage: 10, currentPage: p };trackBy:item?._id">
                                    <td>{{item.name}}</td>
                                    <td><div *ngIf="filesrc" class="imgfilesrc"><img *ngIf="item.filename" src="{{filesrc}}{{item.filename}}"></div></td>

                                    <td>{{item.free_member}} </td>
                                     <td>{{item.cost_extra_member}}</td>
                                    <td ><div class="panel-body" [innerHTML]="_sanitizer.bypassSecurityTrustHtml(item.description)"></div></td>
                                    <td>{{item.priority}}</td>
                                    <td><a href="javascript:void(0)" (click)="changeStatus(item)"> {{(item.is_active==1) ? 'Active' : 'Blocked'}}</a></td>


                                    <td>
                                        <div class="actionbtns">
                                            <a [routerLink]="['/editmembershippackage', item._id]"><button class="btnedit" type="button" value="Edit">Edit</button></a>
                                            <a><button class="btndelete" type="button" (click)="deleterow(item)"  value="Delete">Delete</button></a>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 paginationwrapper">
                <span>Page {{p}} of {{pagec}}</span> <pagination-controls (pageChange)="p = $event" style="display: inline-block"></pagination-controls>
            </div>
        </div>
        <!-- /.row -->

    </div>
</div>
<!-- /#page-wrapper -->

