<div class="body-inner">
    <div class="page-wrapper page-wrapper-inner">
        <div class="blockmaininner">
            <div class="row" *ngIf="details.length>0 && carlistarr.length >0 ">
                <div class="col-lg-12 col-md-12 recentbidagreementmain">
                    <div class="inventoryrecentbidblock">
                        <div class="inventoryrecentbidheader">
                            <h2><span>RECENT BID</span> Agreements</h2>
                            <ul class="list-inline">
                                <li>
                                    <div class="searchbox">
                                        <input placeholder="Search by Make, Model, Auction, Year, Keyword">
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="inventorylistswrapper">
                            <div class="row">
                                <div *ngFor="let itemrsvp of rsvplistarr|paginate: { itemsPerPage: 9, currentPage: p };trackBy:itemrsvp?._id" class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 inventorysinglelist">
                                    <div class="inventorysinglelistblock">
                                        <div class="row blockheaderinfo">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left blockname">
                                                <p><span>Name:</span> {{getcustomerdetails(itemrsvp.customerusername,'name')}}</p>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right blockdate">
                                                <p><span>Auction Date:</span> 09-09-2016</p>
                                            </div>
                                        </div>
                                        <div class="row blockcontentinfo">
                                            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 pull-left infobox">
                                                <h5>Preferences/Match</h5>
                                                <div class="divider"></div>
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td><span>Make:</span></td>
                                                        <td>{{getcardetails(itemrsvp.inventoryid,'make')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Model:</span></td>
                                                        <td>{{getcardetails(itemrsvp.inventoryid,'model')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Year:</span></td>
                                                        <td>{{getcardetails(itemrsvp.inventoryid,'year')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Miles:</span></td>
                                                        <td>{{getcardetails(itemrsvp.inventoryid,'mileage')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Color:</span></td>
                                                        <td>{{getcardetails(itemrsvp.inventoryid,'color')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Wholesale:</span></td>
                                                        <td>{{getcardetails(itemrsvp.inventoryid,'price')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><div  class="viewdetail"><a href="" target="_blank">View Details</a></div></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 pull-right imgbox">
                                                <ul class="list-inline">
                                                    <li>
                                                        <div class="imgouter">
                                                            <div class="imgwrapper" [innerHtml]="getcustomerdetails(itemrsvp.customerusername,'image')">

                                                            </div>
                                                        </div>
                                                        <div class="btnwrapper">
                                                            <button class="btnedit" type="button" value="Edit">View Profile</button>
                                                        </div>
                                                    </li>
                                