<div class="container-fluid customerdashboardmaimbody">
<div class="container-fluid customerdashboardbody">

    <div class="customerdashboard_heading"><h2><span>customer</span>Dashboard</h2></div>



    <div class="container-fluid customerdashboard_block1" >
        <div class="row row-eq-height">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 customerdashboard_block1_left">
                <h2>{{name}} </h2>

                <div class="cd_b1_left_imgbox">

                    <!--<img src="images/autofairlogo.png"  alt="#" class="autofairlogo"/>-->
                   <img style="max-width: 100%;width:auto;max-height:247px" src="{{banner_image}}" class="cd_img1" />
                  <!--  <img src="images/cd_img1.jpg" class="cd_img1" />-->

                    <h3>THEIR dealership</h3>

                </div>

                <h4>CONNECTION</h4>

                <div class="cd_block1_social">

                    <a href="javascript:void(0)"><img src="images/cd_sicon1.png" alt="#"></a>
                    <a href="javascript:void(0)"><img src="images/cd_sicon2.png" alt="#"></a>
                    <a href="javascript:void(0)"><img src="images/cd_sicon3.png" alt="#"></a>
                    <a href="javascript:void(0)"><img src="images/cd_sicon4.png" alt="#"></a>
                    <a href="javascript:void(0)"><img src="images/cd_sicon5.png" alt="#"></a>
                </div>


            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 customerdashboard_block1_right">
                <h2>About</h2>


                <div class="row row-eq-height">

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <h3>ABOUT {{name}}</h3>
                        <h4>{{description}}</h4>

                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <h3>Dealership's Address</h3>
                        <h5>{{address1}}<br/>
                            {{city}},{{state}}<br/>
                            {{zip}}</h5>

                    </div>

                    <div class="clearfix"></div>
                </div>

                <h6>CONTACT <span>ME</span></h6>

                <ul>

                    <li>
                        <strong>Phone</strong>
                        <span ><a href="tel:+{{phone}}">+{{phone}} </a></span>
                    </li>


                    <li>
                        <strong> Email</strong>
                        <span><a href="mailto:{{email}}"> {{email}}</a></span>
                    </li>


                    <li>
                        <strong> Website</strong>
                        <span><a href="{{websiteurl}}" target="_blank">{{websiteurl}}</a></span>
                    </li>
                    <div class="clearfix"></div>
                </ul>


            </div>
            <div class="clearfix"></div>
        </div>

    </div>


    <div class="container-fluid customerdashboard_block2">


        <div class="customerdashboard_block2_body"  *ngFor="let itemrsvp of rsvplistarr let irsvp=index" >

            <div class="customerdashboard_block2_top">

                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="newtablediv">
                    <tr>
                        <td align="left" valign="middle"><h2>Dealer RSVP Invitations</h2></td>
                        <td align="left" valign="middle">
                            <div class="new_cd_chakebox">
                                <input id="radio1{{itemrsvp._id}}" type="radio" name="radio" value="1" checked="checked"><label for="radio1">Yes </label> &nbsp;
                                <input id="radio2{{itemrsvp._id}}" type="radio" name="radio" value="2"><label for="radio2">No</label>
                            </div>
                        </td>
                        <td align="left" valign="middle">
                            <div class="setmaxbid">
                                <strong>Set your Max Bid</strong>
                                <input type="text">

                                <input type="button" value="Set">
                                <div class="clearfix"></div>
                            </div>
                        </td>
                        <td align="left" valign="middle">
                            <h3>Suggested Max Bid<br>

                                $20,000
                            </h3>
                        </td>

                        <td align="left" valign="middle">
                            <img src="images/edmunds.png" alt="#" class="edmunds">

                        </td>
                        <td align="right" valign="middle"><a href="javascript:void(0)" class="cd_block2_link1">RSVP to commit on this car</a></td>
                    </tr>
                </table>








                <div class="clearfix"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 customerdashboard_block2_left">
                    <div class="cdblock2topbg1"><h3>Lot #{{itemrsvp.inventoryid}} </h3></div>

                    <div class="cd_block3_gallery">

                        <div class="cd_block3_gallery_bigimg" [innerHtml]="getcardetails(itemrsvp.inventoryid,'image')">

                            <!--<img src="images/cd1_bigcar1.jpg" alt="#" class="cd1_bigcar">-->

                           <!-- <img src="images/cd_carlogo1.jpg" alt="#" class="cd1_carsponser">-->

                            <div class="cdcar_text">
                                <div class="cdcar_textdiv1">
                                    <a href="javascript:void(0)"><img src="images/cd_con1.png" alt="#"></a>
                                    <div class="clearfix"></div>
                                    <span>The Brio is a testimony to Honda's 'Man Maximum, machine Minimum' principle that believes in
maximising space for you and minimising space taken up by the machinery.</span>




                                </div>
                            </div>


                            <a href="javascript:void(0)" class="cd_viewbtn">View All Photos</a>

                        </div>

                        <div class="cd_block3_gallery_smimg">
                            <img src="images/cd1_sm1.jpg" alt="#">
                            <img src="images/cd1_sm2.jpg" alt="#">
                            <img src="images/cd1_sm3.jpg" alt="#">
                            <img src="images/cd1_sm4.jpg" alt="#">
                            <img src="images/cd1_sm5.jpg" alt="#">
                            <img src="images/cd1_sm6.jpg" alt="#">
                            <img src="images/cd1_sm7.jpg" alt="#">
                            <img src="images/cd1_sm8.jpg" alt="#">
                            <img src="images/cd1_sm9.jpg" alt="#">
                            <img src="images/cd1_sm10.jpg" alt="#">
                            <img src="images/cd1_sm11.jpg" alt="#">
                            <img src="images/cd1_sm12.jpg" alt="#">

                        </div>




                    </div>


                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 customerdashboard_block2_right">
                    <div class="cdblock2topbg1"><h3>Details <span>{{getcardetails(itemrsvp.inventoryid,'make')}}        {{getcardetails(itemrsvp.inventoryid,'model')}}</span></h3></div>


                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>Doc Type: </td>
                            <td><strong>{{getcardetails(itemrsvp.inventoryid,'doctype')}} </strong></td>
                        </tr>




                        <tr>
                            <td>Est. Retail Value:  </td>
                            <td>&nbsp; {{getcardetails(itemrsvp.inventoryid,'est_retail_value')}} </td>
                        </tr>




                        <tr>
                            <td>VIN:    </td>
                            <td> {{getcardetails(itemrsvp.inventoryid,'vin')}} </td>
                        </tr>


                        <tr>
                            <td>Body Style:    </td>
                            <td>{{getcardetails(itemrsvp.inventoryid,'carbodystylelist')}} </td>
                        </tr>

                        <tr>
                            <td>Color:    </td>
                            <td> {{getcardetails(itemrsvp.inventoryid,'color')}}</td>
                        </tr>


                        <tr>
                            <td>Engine Type:        </td>
                            <td> {{getcardetails(itemrsvp.inventoryid,'enginetype')}}</td>
                        </tr>


                        <tr>
                            <td>Drive:    </td>
                            <td>{{getcardetails(itemrsvp.inventoryid,'drive')}}</td>
                        </tr>


                        <tr>
                            <td>Cylinder:    </td>
                            <td>{{getcardetails(itemrsvp.inventoryid,'cylinder')}}</td>
                        </tr>


                        <tr>
                            <td>Fuel:    </td>
                            <td> {{getcardetails(itemrsvp.inventoryid,'fuel')}}</td>
                        </tr>


                        <tr>
                            <td>Gear type:    </td>
                            <td>{{getcardetails(itemrsvp.inventoryid,'gear_type')}}</td>
                        </tr>
                        <tr>
                            <td>Seats:    </td>
                            <td>{{getcardetails(itemrsvp.inventoryid,'seats')}}&nbsp;</td>
                        </tr>


                    </table>



                </div>
                <div class="clearfix"></div>

            </div>
        </div>

        <div class="customerdashboard_block2_body">

            <div class="customerdashboard_block2_top">
                <div class="uncommit_block">
                    <h2>You’re currently committed to this car!</h2>

                    <a href="javascript:void(0)" class="cd_block2_link2">Uncommit Now</a>



                    <div class="clearfix"></div>
                </div>

                <!--<table width="100%" border="0" cellspacing="0" cellpadding="0" class="newtablediv">
                    <tr>
                        <td align="left" valign="middle"><h2>Dealer RSVP Invitations</h2></td>
                        <td align="left" valign="middle">
                            <div class="new_cd_chakebox">
                                <input id="radio1" type="radio" name="radio" value="1" checked="checked"><label for="radio1">Yes </label> &nbsp;
                                <input id="radio2" type="radio" name="radio" value="2"><label for="radio2">No</label>

                            </div>
                        </td>
                        <td align="left" valign="middle">
                            <div class="setmaxbid">
                                <strong>Set your Max Bid</strong>
                                <input type="text">

                                <input type="button" value="Set">
                                <div class="clearfix"></div>
                            </div>
                        </td>
                        <td align="left" valign="middle">
                            <h3>Suggested Max Bid<br>

                                $20,000
                            </h3> </td>

                        <td align="left" valign="middle">
                            <img src="images/edmunds.png" alt="#" class="edmunds">

                        </td>
                        <td align="right" valign="middle"><a href="javascript:void(0)" class="cd_block2_link1">RSVP to commit on this car</a></td>
                    </tr>
                </table>-->
            </div>
            <!--<div class="row row-eq-height">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 customerdashboard_block2_left">
                    <div class="cdblock2topbg1"><h3>Lot #10363211  </h3></div>

                    <div class="cd_block3_gallery">

                        <div class="cd_block3_gallery_bigimg">

                            <img src="images/cd1_bigcar2.jpg" alt="#" class="cd1_bigcar">

                            <img src="images/cd_carlogo2.png" alt="#" class="cd1_carsponser">

                            <div class="cdcar_text">
                                <div class="cdcar_textdiv2">
                                    <a href="javascript:void(0)"><img src="images/cd_con2.png" alt="#"></a>
                                    <div class="clearfix"></div>
                                    <span>With the innovative LifeDrive vehicle architecture, the BMW i8 has ideal conditions for a weight-optimised design and boasts the lowest centre of gravity amongst all BMW vehicles.</span>




                                </div>
                            </div>


                            <a href="javascript:void(0)" class="cd_viewbtn">View All Photos</a>

                        </div>

                        <div class="cd_block3_gallery_smimg">
                            <img src="images/cd2_sm1.jpg" alt="#">
                            <img src="images/cd2_sm2.jpg" alt="#">
                            <img src="images/cd2_sm3.jpg" alt="#">
                            <img src="images/cd2_sm4.jpg" alt="#">
                            <img src="images/cd2_sm5.jpg" alt="#">
                            <img src="images/cd2_sm6.jpg" alt="#">
                            <img src="images/cd2_sm7.jpg" alt="#">
                            <img src="images/cd2_sm8.jpg" alt="#">
                            <img src="images/cd2_sm9.jpg" alt="#">
                            <img src="images/cd2_sm10.jpg" alt="#">
                            <img src="images/cd2_sm11.jpg" alt="#">
                            <img src="images/cd2_sm12.jpg" alt="#">

                        </div>




                    </div>


                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 customerdashboard_block2_right">
                    <div class="cdblock2topbg1"><h3>Details <span>Glossary</span></h3></div>


                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>Doc Type: </td>
                            <td><strong>TX-STORAGE LIEN PAPERS </strong><span class="badge">?</span>      </td>
                        </tr>

                        <tr>
                            <td>Odometer: </td>
                            <td><strong>126,593 mi. (EXEMPT)</strong><span class="badge">?</span>   </td>
                        </tr>
                        <tr>
                            <td>Highlights:   </td>
                            <td> <strong>Run and Drive</strong><span class="badge">?</span>   </td>
                        </tr>

                        <tr>
                            <td>Primary Damage:    </td>
                            <td> SIDE  </td>
                        </tr>


                        <tr>
                            <td>Secondary Damage:  </td>
                            <td>&nbsp;  </td>
                        </tr>


                        <tr>
                            <td>Est. Retail Value:  </td>
                            <td>&nbsp;  </td>
                        </tr>




                        <tr>
                            <td>VIN:    </td>
                            <td> 1G4HR52K4WH487553 </td>
                        </tr>


                        <tr>
                            <td>Body Style:    </td>
                            <td> SEDAN 4DR </td>
                        </tr>

                        <tr>
                            <td>Color:    </td>
                            <td> TAN</td>
                        </tr>


                        <tr>
                            <td>Engine Type:        </td>
                            <td>      3.8L 6</td>
                        </tr>


                        <tr>
                            <td>Drive:    </td>
                            <td>    FRONT-WHEEL DRIVE</td>
                        </tr>


                        <tr>
                            <td>Cylinder:    </td>
                            <td> 6</td>
                        </tr>


                        <tr>
                            <td>Fuel:    </td>
                            <td> GAS</td>
                        </tr>


                        <tr>
                            <td>Keys:    </td>
                            <td>   YES</td>
                        </tr>
                        <tr>
                            <td>Notes:    </td>
                            <td>&nbsp;</td>
                        </tr>


                    </table>



                </div>
                <div class="clearfix"></div>

            </div>-->
        </div>
    </div>

   <!-- <div class="container-fluid customerdashboard_block2">


        <div class="customerdashboard_block2_body">

            <div class="customerdashboard_block2_top">
                <h2>Dealer RSVP Invitations</h2>

                <a href="javascript:void(0)" class="cd_block2_link1">RSVP to commit on this addcar</a>



                <div class="clearfix"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 customerdashboard_block2_left">
                    <div class="cdblock2topbg1"><h3>Lot #10363211 </h3></div>

                    <div class="cd_block3_gallery">

                        <div class="cd_block3_gallery_bigimg">

                            <img src="images/cd1_bigcar1.jpg" alt="#" class="cd1_bigcar">

                            <img src="images/cd_carlogo1.jpg" alt="#" class="cd1_carsponser">

                            <div class="cdcar_text">
                                <div class="cdcar_textdiv1">
                                    <a href="javascript:void(0)"><img src="images/cd_con1.png" alt="#"></a>
                                    <div class="clearfix"></div>
                                    <span>The Brio is a testimony to Honda's 'Man Maximum, machine Minimum' principle that believes in
maximising space for you and minimising space taken up by the machinery.</span>




                                </div>
                            </div>


                            <a href="javascript:void(0)" class="cd_viewbtn">View All Photos</a>

                        </div>

                        <div class="cd_block3_gallery_smimg">
                            <img src="images/cd1_sm1.jpg" alt="#">
                            <img src="images/cd1_sm2.jpg" alt="#">
                            <img src="images/cd1_sm3.jpg" alt="#">
                            <img src="images/cd1_sm4.jpg" alt="#">
                            <img src="images/cd1_sm5.jpg" alt="#">
                            <img src="images/cd1_sm6.jpg" alt="#">
                            <img src="images/cd1_sm7.jpg" alt="#">
                            <img src="images/cd1_sm8.jpg" alt="#">
                            <img src="images/cd1_sm9.jpg" alt="#">
                            <img src="images/cd1_sm10.jpg" alt="#">
                            <img src="images/cd1_sm11.jpg" alt="#">
                            <img src="images/cd1_sm12.jpg" alt="#">

                        </div>




                    </div>


                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 customerdashboard_block2_right">
                    <div class="cdblock2topbg1"><h3>Details <span>Glossary</span></h3></div>


                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>Doc Type: </td>
                            <td><strong>TX-STORAGE LIEN PAPERS </strong><span class="badge">?</span>      </td>
                        </tr>

                        <tr>
                            <td>Odometer: </td>
                            <td><strong>126,593 mi. (EXEMPT)</strong><span class="badge">?</span>   </td>
                        </tr>
                        <tr>
                            <td>Highlights:   </td>
                            <td> <strong>Run and Drive</strong><span class="badge">?</span>   </td>
                        </tr>

                        <tr>
                            <td>Primary Damage:    </td>
                            <td> SIDE  </td>
                        </tr>


                        <tr>
                            <td>Secondary Damage:  </td>
                            <td>&nbsp;  </td>
                        </tr>


                        <tr>
                            <td>Est. Retail Value:  </td>
                            <td>&nbsp;  </td>
                        </tr>




                        <tr>
                            <td>VIN:    </td>
                            <td> 1G4HR52K4WH487553 </td>
                        </tr>


                        <tr>
                            <td>Body Style:    </td>
                            <td> SEDAN 4DR </td>
                        </tr>

                        <tr>
                            <td>Color:    </td>
                            <td> TAN</td>
                        </tr>


                        <tr>
                            <td>Engine Type:        </td>
                            <td>      3.8L 6</td>
                        </tr>


                        <tr>
                            <td>Drive:    </td>
                            <td>    FRONT-WHEEL DRIVE</td>
                        </tr>


                        <tr>
                            <td>Cylinder:    </td>
                            <td> 6</td>
                        </tr>


                        <tr>
                            <td>Fuel:    </td>
                            <td> GAS</td>
                        </tr>


                        <tr>
                            <td>Keys:    </td>
                            <td>   YES</td>
                        </tr>
                        <tr>
                            <td>Notes:    </td>
                            <td>&nbsp;</td>
                        </tr>


                    </table>



                </div>
                <div class="clearfix"></div>

            </div>
        </div>

        <div class="customerdashboard_block2_body">

            <div class="customerdashboard_block2_top">
                <h2>You're currently committed to this addcar!</h2>

                <a href="javascript:void(0)" class="cd_block2_link2">Uncommit Now</a>



                <div class="clearfix"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 customerdashboard_block2_left">
                    <div class="cdblock2topbg1"><h3>Lot #10363211  </h3></div>

                    <div class="cd_block3_gallery">

                        <div class="cd_block3_gallery_bigimg">

                            <img src="images/cd1_bigcar2.jpg" alt="#" class="cd1_bigcar">

                            <img src="images/cd_carlogo2.png" alt="#" class="cd1_carsponser">

                            <div class="cdcar_text">
                                <div class="cdcar_textdiv2">
                                    <a href="javascript:void(0)"><img src="images/cd_con2.png" alt="#"></a>
                                    <div class="clearfix"></div>
                                    <span>With the innovative LifeDrive vehicle architecture, the BMW i8 has ideal conditions for a weight-optimised design and boasts the lowest centre of gravity amongst all BMW vehicles.</span>




                                </div>
                            </div>


                            <a href="javascript:void(0)" class="cd_viewbtn">View All Photos</a>

                        </div>

                        <div class="cd_block3_gallery_smimg">
                            <img src="images/cd2_sm1.jpg" alt="#">
                            <img src="images/cd2_sm2.jpg" alt="#">
                            <img src="images/cd2_sm3.jpg" alt="#">
                            <img src="images/cd2_sm4.jpg" alt="#">
                            <img src="images/cd2_sm5.jpg" alt="#">
                            <img src="images/cd2_sm6.jpg" alt="#">
                            <img src="images/cd2_sm7.jpg" alt="#">
                            <img src="images/cd2_sm8.jpg" alt="#">
                            <img src="images/cd2_sm9.jpg" alt="#">
                            <img src="images/cd2_sm10.jpg" alt="#">
                            <img src="images/cd2_sm11.jpg" alt="#">
                            <img src="images/cd2_sm12.jpg" alt="#">

                        </div>




                    </div>


                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 customerdashboard_block2_right">
                    <div class="cdblock2topbg1"><h3>Details <span>Glossary</span></h3></div>


                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>Doc Type: </td>
                            <td><strong>TX-STORAGE LIEN PAPERS </strong><span class="badge">?</span>      </td>
                        </tr>

                        <tr>
                            <td>Odometer: </td>
                            <td><strong>126,593 mi. (EXEMPT)</strong><span class="badge">?</span>   </td>
                        </tr>
                        <tr>
                            <td>Highlights:   </td>
                            <td> <strong>Run and Drive</strong><span class="badge">?</span>   </td>
                        </tr>

                        <tr>
                            <td>Primary Damage:    </td>
                            <td> SIDE  </td>
                        </tr>


                        <tr>
                            <td>Secondary Damage:  </td>
                            <td>&nbsp;  </td>
                        </tr>


                        <tr>
                            <td>Est. Retail Value:  </td>
                            <td>&nbsp;  </td>
                        </tr>




                        <tr>
                            <td>VIN:    </td>
                            <td> 1G4HR52K4WH487553 </td>
                        </tr>


                        <tr>
                            <td>Body Style:    </td>
                            <td> SEDAN 4DR </td>
                        </tr>

                        <tr>
                            <td>Color:    </td>
                            <td> TAN</td>
                        </tr>


                        <tr>
                            <td>Engine Type:        </td>
                            <td>      3.8L 6</td>
                        </tr>


                        <tr>
                            <td>Drive:    </td>
                            <td>    FRONT-WHEEL DRIVE</td>
                        </tr>


                        <tr>
                            <td>Cylinder:    </td>
                            <td> 6</td>
                        </tr>


                        <tr>
                            <td>Fuel:    </td>
                            <td> GAS</td>
                        </tr>


                        <tr>
                            <td>Keys:    </td>
                            <td>   YES</td>
                        </tr>
                        <tr>
                            <td>Notes:    </td>
                            <td>&nbsp;</td>
                        </tr>


                    </table>



                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>-->

    <div class="customerdashboard_heading"><h2><span>see upcoming </span>Inventory</h2></div>

    <div class="customerdashboard_block4_heading">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 h2text"><h2>Inventory <span>Matches</span></h2></div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 linktext"><a href="javascript:void(0)">View All</a></div>
        <div class="clearfix"></div>
    </div>

    <div class="container-fluid customerdashboard_blockcar" *ngIf="retailcommission.length>0">
        <span class="noresult noresinventory">No result found!</span>

        <div  *ngFor="let itemcar of cardata let icar=index" class="blockcar_box inventorysinglelistblockcon">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="left" valign="middle">
                        <div class="cdcar_des">
                            <span>Make :  {{getcarlogo(itemcar)}}</span>
                            <span>Model :  {{itemcar.model}}</span>
                            <span>Year:  {{getcaryear(itemcar)}}</span>
                            <span>Miles :  {{getmileage(itemcar)}}</span>
                            <span>Color :  {{getcolor(itemcar)}}</span>
                            <span>Wholesale : {{getwholesalevalue(itemcar.est_retail_value)}}</span>
                            <a [routerLink]="['/auctioininventorydetails', itemcar._id]">View Detail  </a>

                        </div>
                    </td>

                    <td align="right" valign="middle">

                        <div class="cdcar_img">
                            <img class="auction_toplogo" src="{{sharefilesrc}}{{itemcar.auctiondata[0].filename}}">
                            <img src="{{sharefilesrc}}{{itemcar.filename}}">

                           <!-- <img src="images/cd_car1.jpg" alt="#">-->
                        </div>
                    </td>
                </tr>
            </table>

            <div class="clearfix"></div>
        </div>

       <!-- <div class="blockcar_box">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="left" valign="middle">
                        <div class="cdcar_des">
                            <span>Make :  Renault</span>
                            <span>Model :  Duster</span>
                            <span>Year:  2016</span>
                            <span>Miles :  600</span>
                            <span>Color :  Red</span>
                            <span>Wholesale : $8,46,999</span>
                            <a href="javascript:void(0)">View Detail  </a>

                        </div>
                    </td>

                    <td align="right" valign="middle">

                        <div class="cdcar_img">
                            <img src="images/cd_car2.jpg" alt="#">
                        </div>
                    </td>
                </tr>
            </table>

            <div class="clearfix"></div>
        </div>-->




        <div class="clearfix"></div>

    </div>


    <div class="container-fluid customerdashboard_block4">

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 cd_block4_box">

            <a href="javascript:void(0)" >
                <img src="images/cd_btnblock1.png" alt="#">

                <h2>see upcoming inventory</h2>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 cd_block4_box">
            <a href="javascript:void(0)" >
                <img src="images/cd_btnblock2.png" alt="#">

                <h2>message your dealer</h2>
            </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 cd_block4_box">
            <a href="javascript:void(0)" >
                <img src="images/cd_btnblock3.png" alt="#">

                <h2>visit   dealer</h2>
            </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 cd_block4_box">
            <a href="javascript:void(0)" >
                <img src="images/cd_btnblock4.png" alt="#">

                <h2> set alerts </h2>
            </a>
        </div>

        <div class="clearfix"></div>
    </div>









</div>
</div>