


    <div class="container-fluid auctionbidding_body">

        <div class="auctionbidding_block1">

            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 auctionbidding_block1_left">

                    <div class="auctionbidding_block1_tab">
                        <h2 class="ab_tabclose">{{getauction(auctionid,'name')}} / {{getcarlogo(carlogolist)}} / {{model}} <a href="javascript:void(0)"></a></h2><h2>Lorem Autos Golden Gate Lane 3 <a href="javascript:void(0)"></a></h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="auctionbidding_block1_left_box">
                        <div class="row ">
                            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 auctionbidding_block1_left_box_left">

                                <div class="auction_bd_bigcar">
                                    <img  src="{{uploadedfilesrc1}}" alt="#" class="bigimag">
                                  <!--  <img src="images/auction_bd__bigcar.jpg" alt="#">-->
                                </div>

                                <div class="auction_sm_bigcar">
                                   <!-- <span><img (click)="imageshow(uploadedfilesrc1)"  src="{{uploadedfilesrc1}}" alt="#"></span>
                                    <span *ngFor="let adcarimage of uploadedadditionalfilearr">-->
                          <!--  <img (click)="imageshow(adcarimage)"   src="{{adcarimage}}" alt="#">-->
                                <!--</span>-->
                                    <div class="ab_scar"><img (click)="imageshow(uploadedfilesrc1)"  src="{{uploadedfilesrc1}}" alt="#"></div>
                                    <div *ngFor="let adcarimage of uploadedadditionalfilearr" class="ab_scar"><img (click)="imageshow(adcarimage)"   src="{{adcarimage}}" alt="#"></div>
                                   <!-- <div  class="ab_scar"><img src="images/auction_bd__car3.jpg" alt="#"></div>
                                    <div class="ab_scar"><img src="images/auction_bd__car4.jpg" alt="#"></div>
                                    <div class="ab_scar"><img src="images/auction_bd__car5.jpg" alt="#"></div>-->

                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 auctionbidding_block1_left_box_right">


                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#menu1">Auction</a></li>
                                    <li><a data-toggle="tab" href="#menu2">Coustmer INFO</a></li>


                                </ul>

                                <div class="tab-content">
                                    <div id="menu1" class="tab-pane fade in active">

                                        <div class="auctionbidding_tabtop1">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ad_toptable">
                                                <tr>
                                                    <td width="9%">
                                                       <!-- <img src="images/auctionbidding_tab1img.jpg" alt="#">-->
                                                        <img src="{{getauction(auctionid,'image')}}" alt="#">
                                                    </td>
                                                    <td width="91%">{{getauction(auctionid,'name')}} / {{getcarlogo(carlogolist)}} / {{model}}<span>08:26  PM</span></td>

                                                </tr>
                                            </table>


                                            <h4>Lorem Ipsum is simply dummy text of the printing</h4>

                                            <ul>
                                                <li><span>John Doe</span>                                 $25000</li>
                                                <li><span>Jack Smith   </span>                            $23330
                                                    Simply dummy text simply dummy text</li>


                                                <li>Simply dummy text simply dummy text</li>


                                                <li><span>David Jones   </span>       $20520</li>
                                                <li><span>Jane Doe   </span>       $19000</li>


                                                <li><span>John Doe  </span>                               $25000</li>
                                                <li>Simply dummy text simply dummy simply dummy text text</li>

                                            </ul>


                                            <div class="ad_tab_bottomblock">
                                                <h2><strong>Bidding ends at:</strong>   12-07-2015    <span>06:55</span></h2>
                                                <h3>Asking Bid   $ 18800</h3>

                                                <div class="clearfix"></div>
                                            </div>

                                        </div>



                                    </div>
                                    <div id="menu2" class="tab-pane fade">

                                        <div class="auctionbidding_tabtop1">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ad_toptable">
                                                <tr>
                                                    <td width="9%"><img src="images/auctionbidding_tab1img.jpg" alt="#"></td>
                                                    <td width="91%">Lorem Autos Washington DC Lane 2            <span>08:26  PM</span></td>

                                                </tr>
                                            </table>


                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ad_toptable_profile">
                                                <tr>
                                                    <td width="130px"><img src="images/auctionbidding_pimg1.png" alt="#"></td>
                                                    <td>
                                                        <div class="ad_profile_div">

                                                            <ul>
                                                                <li><span>Name        :</span><strong>David Jones</strong></li>
                                                                <li><span>Address    :</span>24 DC Lane Saltlake Utah</li>
                                                                <li><span>Phone       : </span>00 000 000 00</li>
                                                                <li><span>Email       :</span>loremipsum@gmail.com</li>
                                                                <li><span>Active Bid :</span>$ 19200</li>
                                                                <li><span>Retail margin :</span>12 %  </li>

                                                            </ul>



                                                        </div>

                                                        <img src="images/ab_on.png" alt="#" class="ad_profile_st">
                                                        <div class="clearfix"></div>

                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td width="130px"><img src="images/auctionbidding_pimg2.png" alt="#"></td>
                                                    <td>
                                                        <div class="ad_profile_div">

                                                            <ul>
                                                                <li><span>Name        :</span><strong>David Jones</strong></li>
                                                                <li><span>Address    :</span>24 DC Lane Saltlake Utah</li>
                                                                <li><span>Phone       : </span>00 000 000 00</li>
                                                                <li><span>Email       :</span>loremipsum@gmail.com</li>
                                                                <li><span>Active Bid :</span>$ 19200</li>
                                                                <li><span>Retail margin :</span>12 %  </li>

                                                            </ul>



                                                        </div>

                                                        <img src="images/ab_off.png" alt="#" class="ad_profile_st">
                                                        <div class="clearfix"></div>

                                                    </td>
                                                </tr>
                                            </table>



                                            <div class="ad_tab_bottomblock">
                                                <h2><strong>Bidding ends at:</strong>   12-07-2015    <span>06:55</span></h2>
                                                <h3>Asking Bid   $ 18800</h3>

                                                <div class="clearfix"></div>
                                            </div>

                                        </div>


                                    </div>


                                </div>



                            </div>
                            <div class="clearfix"></div>

                        </div>


                    </div>


                    <div class="auctionbidding_upcomingblock">
                        <h2>Upcoming auctions</h2>


                        <div class="ab_upcomingblock_top1">
                            <h3>Quick Sort</h3>
                            <a href="javascript:void(0)">Run #3</a>
                            <a href="javascript:void(0)">Year</a>
                            <a href="javascript:void(0)">Make</a>
                            <a href="javascript:void(0)">Model</a>


                            <div class="ad_quickstart_search">
                                <input type="text"  placeholder="Search........." class="ad_quickstart_searchinput">
                                <input type="button" class="ad_quickstart_searchbtn">
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>


                        <div class="ab_upcomingblock_block2">

                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" *ngFor="let itemrsvp of rsvplistarr;trackBy:itemrsvp?._id">

                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                            <img src="{{getcardetails(itemrsvp.inventoryid,'image')}}" alt="#">
                                           <!-- <img src="images/auctionbidding_car1.jpg" alt="#">-->
                                        </td>
                                        <td class="ab_tdcontain">{{getcardetails(itemrsvp.inventoryid,'auctionname')}}<br>
                                            {{getcardetails(itemrsvp.inventoryid,'make')}}
                                            <!-- <span>October 14  05:30 PM</span>-->

                                           <br>
                                            {{getcardetails(itemrsvp.inventoryid,'model')}}
                                           <!-- <span>October 14  05:30 PM</span>-->
                                            <span>{{getcardetails(itemrsvp.inventoryid,'auctiondate')}}</span>

                                        </td>
                                    </tr>
                                </table>

                                <a href="javascript:void(0)" class="ad_wishlistbtn">Add to watch list</a>
                            </div>

                            <!--<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td><img src="images/auctionbidding_car2.jpg" alt="#"></td>
                                        <td class="ab_tdcontain">Run # 123<br>

                                            2007 Lorem Ipsum is <br>
                                            simply dummy text
                                            <span>October 14  05:30 PM</span>

                                        </td>
                                    </tr>
                                </table>

                                <a href="javascript:void(0)" class="ad_wishlistbtn">Add to watch list</a>
                            </div>
                            div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td><img src="images/auctionbidding_car3.jpg" alt="#"></td>
                                        <td class="ab_tdcontain">Run # 123<br>

                                            2007 Lorem Ipsum is <br>
                                            simply dummy text
                                            <span>October 14  05:30 PM</span>

                                        </td>
                                    </tr>
                                </table>

                                <a href="javascript:void(0)" class="ad_wishlistbtn">Add to watch list</a>
                            </div>-->


                            <div class="clearfix"></div>
                        </div>


                    </div>


                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 auctionbidding_block1_right">
                    <div class="auctionbiddingblock2topbg1"><h3>Lot #{{id}}   Details <span>Glossary</span></h3></div>
                    <div class="customerdashboard_block2 auctionbidding_block2table" style="border:none;">


                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr *ngIf="doctype">
                                <td>Doc Type: </td>
                                <td><strong>{{doctype}}</strong></td>
                            </tr>

                            <tr *ngIf="carlogolist">
                                <td><span>Make:</span></td>
                                <td><span>{{getcarlogo(carlogolist)}}</span></td>
                            </tr>
                            <tr *ngIf="model">
                                <td><span>Model:</span></td>
                                <td>{{model}}</td>
                            </tr>
                            <tr *ngIf="carautoyearlist">
                                <td><span>Year:</span></td>
                                <td>{{getcaryear(carautoyearlist)}}</td>
                            </tr>
                            <tr *ngIf="mileage">
                                <td><span>Miles:</span></td>
                                <td>{{getmileage(mileage)}}</td>
                            </tr>
                            <tr *ngIf="color">
                                <td><span>Color:</span></td>
                                <td>{{getcolor(color)}}</td>
                            </tr>
                            <tr *ngIf="est_retail_value">
                                <td><span>Wholesale:</span></td>
                                <td>{{est_retail_value}}</td>
                            </tr>




                            <tr *ngIf="vin">
                                <td>VIN:    </td>
                                <td> {{vin}} </td>
                            </tr>


                            <tr *ngIf="carbodystylelist">
                                <td>Body Style:    </td>
                                <td> {{getbodystyle(carbodystylelist)}} </td>
                            </tr>


                            <tr *ngIf="enginetype">
                                <td>Engine Type:        </td>
                                <td>     {{enginetype}}</td>
                            </tr>


                            <tr *ngIf="drive">
                                <td>Drive:    </td>
                                <td>    {{drive}}</td>
                            </tr>


                            <tr *ngIf="cylinder">
                                <td>Cylinder:    </td>
                                <td> {{cylinder}}</td>
                            </tr>


                            <tr *ngIf="fuel">
                                <td>Fuel:    </td>
                                <td> {{fuel}}</td>
                            </tr>


                            <tr *ngIf="airbags">
                                <td>Airbags:    </td>
                                <td>   {{airbags}}</td>
                            </tr>
                            <tr *ngIf="stereo_system">
                                <td>Stereo System:    </td>
                                <td>&nbsp;{{stereo_system}}</td>
                            </tr>

                            <tr *ngIf="dvd_player">
                                <td>DVD Player:    </td>
                                <td>&nbsp;{{dvd_player}}</td>
                            </tr>
                            <tr *ngIf="stereo_system">
                                <td>Power Window:    </td>
                                <td>&nbsp;{{stereo_system}}</td>
                            </tr>
                            <tr *ngIf="power_locks">
                                <td>Power Lock:    </td>
                                <td>&nbsp;{{power_locks}}</td>
                            </tr>
                            <tr *ngIf="digital_display">
                                <td>Digital Dispaly:    </td>
                                <td>&nbsp;{{digital_display}}</td>
                            </tr>
                            <tr *ngIf="gear_type">
                                <td>Gear type:    </td>
                                <td>&nbsp;{{gear_type}}</td>
                            </tr>
                            <tr *ngIf="bluetooth">
                                <td>Bluetooth:    </td>
                                <td>&nbsp;{{bluetooth}}</td>
                            </tr>
                            <tr *ngIf="gps">
                                <td>GPS:    </td>
                                <td>&nbsp;{{gps}}</td>
                            </tr>
                            <tr *ngIf="seats">
                                <td>Seats:    </td>
                                <td>&nbsp;{{seats}}</td>
                            </tr>
                            <tr *ngIf="lights">
                                <td>Lights:    </td>
                                <td>&nbsp;{{lights}}</td>
                            </tr>
                            <tr *ngIf="trinted_window">
                                <td>Tinted Window:    </td>
                                <td>&nbsp;{{trinted_window}}</td>
                            </tr>
                            <tr *ngIf="sunroof">
                                <td>Sunroofs:    </td>
                                <td>&nbsp;{{sunroof}}</td>
                            </tr>
                            <tr *ngIf="notes">
                                <td>Notes:    </td>
                                <td>&nbsp;<span  [innerHTML]="_sanitizer.bypassSecurityTrustHtml(notes)"></span></td>
                            </tr>


                        </table>
                    </div>

                    <div class="auctionbiddingblock2topbg2"><h3>Sale Information</h3></div>
                    <div class="customerdashboard_block2 auctionbidding_block2table" style="border:none;">


                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>Location: </td>
                                <td>LA - BATON ROUGE
                                    <label>Inspection Services</label>
                                </td>
                            </tr>

                            <tr>
                                <td>Lane/ Item / Grid/ Row:     </td>
                                <td>A/ 102/ EE040   </td>
                            </tr>

                            <tr>
                                <td>Sale Date:       </td>
                                <td>Thu. Sep 08, 2016
                                    <b>9:00 PM EDT</b>
                                    <label>Add to Calendar</label>

                                </td>
                            </tr>

                            <tr>
                                <td>Time Left:      </td>
                                <td class="timeadad">0D 2H 40min  </td>
                            </tr>

                        </table>
                    </div>


                </div>
                <div class="clearfix"></div>
            </div>


        </div>


        <div class="auctionbidding_block2">
            <h2>My Auctions</h2>








            <div class="ab_upcomingblock_block2new">

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="140px"><div class="ad_imgblogdiv"><img src="images/auctionbidding_bottom_car1.jpg" alt="#"></div>
                                <h6>Bid for: $9,300    </h6>
                            </td>
                            <td width="88%" class="ab_tdcontain2">

                                <h4><strong>Auction</strong> <span>specialty auto auction</span>  <img src="images/auctionbidding_bottom_sponser.jpg" alt="#"> <div class="clearfix"></div></h4>

                                <div class="clearfix"></div>


                                <ul>
                                    <li> Chevorlet Optra  <b>Year : 2011</b> </li>
                                    <li>Current bid by David Jones is $5,800</li>

                                </ul>


                                <div class="auction_nameblock">
                                    <img src="images/auctionbidding_bottom_man1.jpg" alt="#" class="ad_auction_avt">

                                    <span class="ad_auction_detail">
    Name :<b>David Jones  </b>
    <br>

Active Bidding :<b>$ 18900</b>
    </span>

                                    <img src="images/ab_off.png" class="ad_auction_st">
                                    <div class="clearfix"></div>
                                </div>


                                <a href="javascript:void(0)" class="ad_wishlistbtn2">Add to watch list</a>
                            </td>
                        </tr>
                    </table>


                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="140px"><div class="ad_imgblogdiv"><img src="images/auctionbidding_bottom_car2.jpg" alt="#"></div>
                                <h6>Bid for: $9,300    </h6>
                            </td>
                            <td width="88%" class="ab_tdcontain2">

                                <h4><strong>Auction</strong> <span>specialty auto auction</span>  <img src="images/auctionbidding_bottom_sponser.jpg" alt="#"> <div class="clearfix"></div></h4>

                                <ul>
                                    <li> Chevorlet Optra  <b>Year : 2011</b> </li>
                                    <li>Current bid by David Jones is $5,800</li>

                                </ul>


                                <div class="auction_nameblock">
                                    <img src="images/auctionbidding_bottom_man2.jpg" alt="#" class="ad_auction_avt">

                                    <span class="ad_auction_detail">
    Name :<b>David Jones  </b>
    <br>

Active Bidding :<b>$ 18900</b>
    </span>

                                    <img src="images/ab_on.png" class="ad_auction_st">
                                    <div class="clearfix"></div>
                                </div>


                                <a href="javascript:void(0)" class="ad_wishlistbtn2">Add to watch list</a>
                            </td>
                        </tr>
                    </table>


                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="140px"><div class="ad_imgblogdiv"><img src="images/auctionbidding_bottom_car3.jpg" alt="#"></div>
                                <h6>Bid for: $9,300    </h6>
                            </td>
                            <td width="88%" class="ab_tdcontain2">

                                <h4><strong>Auction</strong> <span>specialty auto auction</span>  <img src="images/auctionbidding_bottom_sponser.jpg" alt="#"> <div class="clearfix"></div></h4>

                                <ul>
                                    <li> Chevorlet Optra  <b>Year : 2011</b> </li>
                                    <li>Current bid by David Jones is $5,800</li>

                                </ul>


                                <div class="auction_nameblock">
                                    <img src="images/auctionbidding_bottom_man3.jpg" alt="#" class="ad_auction_avt">

                                    <span class="ad_auction_detail">
    Name :<b>David Jones  </b>
    <br>

Active Bidding :<b>$ 18900</b>
    </span>

                                    <img src="images/ab_off.png" class="ad_auction_st">
                                    <div class="clearfix"></div>
                                </div>


                                <a href="javascript:void(0)" class="ad_wishlistbtn2">Add to watch list</a>
                            </td>
                        </tr>
                    </table>


                </div>


                <div class="clearfix"></div>
            </div>






        </div>
    </div>




