<div class="page-wrapper addadmin">
    <div class="blockmaininner">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="pageheader"><span>Add</span> Share Link</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row addsharelinkblock">
            <div class="col-lg-12 addadminblock">

                <form novalidate [formGroup]="addsharelinkform"   name="addsharelinkform"  class="form-inline">

                    <div class="signupform_wrapper">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input [formControl]="addsharelinkform.controls['name']" name="name"  type="text" class="form-control" placeholder="Name"/>
                                   <!-- <input [formControl]="addsharelinkform.controls['_id']" name="name"  type="hidden" class="form-control" placeholder="Title"/>-->

                                    <span  *ngIf ="addsharelinkform.controls['name'].touched && !addsharelinkform.controls['name'].valid" class="help-inline"><span class="errormsgtxt">Name is Required !</span> <img src="images/iconquestion.png"></span>
                                </div>

                                <div class="form-group">
                                    <input [formControl]="addsharelinkform.controls['url']" type="text" name="url" class="form-control" placeholder="Url"/>
                                    <span *ngIf ="addsharelinkform.controls['url'].touched && !addsharelinkform.controls['url'].valid" class="help-inline"><span class="errormsgtxt">Url is Required !</span><img src="images/iconquestion.png"></span>
                                </div>

                                <div class="form-group">
                                    <input [formControl]="addsharelinkform.controls['priority']" name="priority"  type="text" class="form-control" placeholder="Priority"/>
                                    <span  *ngIf ="addsharelinkform.controls['priority'].touched && !addsharelinkform.controls['priority'].valid" class="help-inline"><span class="errormsgtxt">Priority is Required ! </span><img src="images/iconquestion.png"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea [formControl]="addsharelinkform.controls['description']" name="description" class="form-control form-control-textarea" placeholder="Description">
                                    </textarea>
                                    <span *ngIf ="addsharelinkform.controls['description'].touched && !addsharelinkform.controls['description'].valid" class="help-inline"><span class="errormsgtxt">Description is Required !</span><img src="images/iconquestion.png"></span>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" [formControl]="addsharelinkform.controls['filename']" name="filename" class="form-control" placeholder="Filename"/>
                                    <span *ngIf ="addsharelinkform.controls['filename'].touched && !addsharelinkform.controls['filename'].valid" class="help-inline"><span class="errormsgtxt">Filename is Required !</span><img src="images/iconquestion.png"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="row">
                            <div class="browsefileblock">
                                <input type="file"
                                       ngFileSelect
                                [options]="basicOptions"
                                (onUpload)="handleUpload($event)">
                                <!--<div class="responsceclass">
                                    Response: {{ response | json }}
                                </div>-->
                                <div *ngIf="progress">

                                    Uploading: {{ progress }}%
                                </div>

                                <div *ngIf="uploadedfilesrc" style="width:300px;margin:10px 0;border:1px solid #ccc;padding:4px;">

                                <img style="width: 100%;display: block;"  src="{{uploadedfilesrc}}" >
                                    </div>
                            </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                        <div class="row uploadrow">
                            <div class="col-md-6">
                                <div class="form-group_chakebox signupcheckbox">
                                    <input id="checkbox1" type="checkbox" name="is_public" [formControl]="addsharelinkform.controls['is_public']" value="1"/><label for="checkbox1"></label><span>Is Public?</span>
                                    <span *ngIf ="addsharelinkform.controls['is_public'].touched && !addsharelinkform.controls['is_public'].valid" class="help-inline">You must select checkbox</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            <div class="submitwrap" style="margi: 0px; margin-top: 0px;  padding: 0px;">
                                <button (click)="submitform()" type="button" value="Submit" class="subbtn">Submit</button>
                            </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                        <!--<div class="form-group">
                            <input [formControl]="addsharelinkform.controls['imageurl']" name="imageurl"  type="text" class="form-control" placeholder="Image Url"/>
                            <span  *ngIf ="addsharelinkform.controls['imageurl'].touched && !addsharelinkform.controls['imageurl'].valid" class="help-inline"><span class="errormsgtxt">Image Url is Required ! </span><img src="images/iconquestion.png"></span>
                        </div>-->
                    </div>

                </form>




            </div>
        </div>

 <!--       <div class="container-fluid signup_body_wrapper">
            <div class="container-fluid signupmiddleblock">
                <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 signuprightblock">
                    <div class="signupheading">
                        <h2>Add Admin</h2>
                    </div>
                    <img src="images/formshadow.png" alt="" class="formshadow"/>
                   <form novalidate [formGroup]="addsharelinkform" (ngSubmit)="doLogin(loginForm.value)"  name="addsharelinkform" >
                        <div class="signupform_wrapper">
                            <div class="form-group">
                                <input [formControl]="addsharelinkform.controls['username']" name="username"  type="text" class="form-control" placeholder="User Name"/>
                                <span  *ngIf ="addsharelinkform.controls['username'].touched && !addsharelinkform.controls['username'].valid" class="help-inline"><span class="errormsgtxt">User Name is Required !</span> <img src="images/iconquestion.png"></span>




                            </div>

                            <div class="form-group">
                                <input [formControl]="addsharelinkform.controls['password']" name="password"  type="password" class="form-control" placeholder="Password"/>
                                <span *ngIf ="addsharelinkform.controls['password'].touched && !addsharelinkform.controls['password'].valid" class="help-inline"><span class="errormsgtxt">Password  is Required !</span><img src="images/iconquestion.png"></span>


                            </div>

                            <div class="form-group">
                                <input [formControl]="addsharelinkform.controls['fname']" name="fname"  type="text" class="form-control" placeholder="First Name"/>
                                <span *ngIf ="addsharelinkform.controls['fname'].touched && !addsharelinkform.controls['fname'].valid" class="help-inline"><span class="errormsgtxt">First Name is Required !</span><img src="images/iconquestion.png"></span>


                            </div>

                            <div class="form-group">
                                <input [formControl]="addsharelinkform.controls['lname']" type="text" class="form-control" placeholder="Last Name"/>
                                &lt;!&ndash; <span class="help-inline">Please correct the error</span>&ndash;&gt;
                                <span *ngIf ="addsharelinkform.controls['lname'].touched && !addsharelinkform.controls['lname'].valid" class="help-inline"><span class="errormsgtxt">Last Name is Required !</span><img src="images/iconquestion.png"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" [formControl]="addsharelinkform.controls['email']" type="email" class="form-control" placeholder="Email Address"/>
                                &lt;!&ndash; <span class="help-inline">Please correct the error</span>&ndash;&gt;
                                <span *ngIf ="addsharelinkform.controls['email'].touched && !addsharelinkform.controls['email'].valid" class="help-inline"><span class="errormsgtxt">Email is Required and must be valid !</span><img src="images/iconquestion.png"></span>
                            </div>




                            <div class="form-group">
                                <input [formControl]="addsharelinkform.controls['address']" name="address"  type="text" class="form-control" placeholder="Address"/>
                                <span  *ngIf ="addsharelinkform.controls['address'].touched && !addsharelinkform.controls['address'].valid" class="help-inline"><span class="errormsgtxt">Address is Required !</span> <img src="images/iconquestion.png"></span>
                            </div>


                            <div class="form-group">
                                <input [formControl]="addsharelinkform.controls['city']" name="city"  type="text" class="form-control" placeholder="City"/>
                                <span  *ngIf ="addsharelinkform.controls['city'].touched && !addsharelinkform.controls['city'].valid" class="help-inline"><span class="errormsgtxt">City is Required ! </span><img src="images/iconquestion.png"></span>
                            </div>



                            <div class="form-group">

                                <select class="form-control3" [formControl]="addsharelinkform.controls['state']" name="state" >
                                    <option value="" selected="selected"><span class="errormsgtxt">Select Your State</span></option>
                                    <option *ngFor="let obj of getusastates" [value]="obj.name">{{obj.name}}</option>
                                </select>
                                <span  *ngIf ="addsharelinkform.controls['state'].touched && !addsharelinkform.controls['state'].valid" class="help-inline spanalign"><span class="errormsgtxt">State is Required ! </span><img src="images/iconquestion.png"></span>
                            </div>


                            <div class="form-group">
                                <input [formControl]="addsharelinkform.controls['zip']" name="zip"  type="text" class="form-control" placeholder="Zip Code"/>
                                <span  *ngIf ="addsharelinkform.controls['zip'].touched && !addsharelinkform.controls['zip'].valid" class="help-inline"><span class="errormsgtxt">Zip is Required ! </span><img src="images/iconquestion.png"></span>
                            </div>



                            <div class="form-group">
                                <input [formControl]="addsharelinkform.controls['phone']" name="phone"  type="text" class="form-control" placeholder="Phone"/>
                                <span  *ngIf ="addsharelinkform.controls['phone'].touched && !addsharelinkform.controls['phone'].valid" class="help-inline"><span class="errormsgtxt">Phone is Required !</span> <img src="images/iconquestion.png"></span>
                            </div>
                            <div class="form-group_chakebox signupcheckbox">
                                <input id="checkbox1" type="checkbox" name="checkbox1" [formControl]="addsharelinkform.controls['is_active']" value="1"/><label for="checkbox1"></label><span>Is Active</span>

                                <span *ngIf ="addsharelinkform.controls['is_active'].touched && !addsharelinkform.controls['is_active'].valid" class="help-inline">You must select checkbox</span>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        <div class="btn-block">
                            <button (click)="submitform()" type="button" value="let’s get you &#45;&#45;started" class="subbtn">let’s get you started</button>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>-->