   <div class="container-fluid cusdashboardblock1">
    <div class="container cusdashboardblock1inner">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cusdashboardblock1innerleft">
                <div class="logo">
                    <a [routerLink]="['/dealerdashboard']">  <img src="images/adminlogo.png" alt="adminlogo" class="adminlogo"/></a>
                    <div class="logodevider"></div>
                    <a [routerLink]="['/dealerdashboard']"><img  src="images/carlogo2.png" alt="adminlogo" class="adminlogo2"/></a>
                    <button type="button" class="btn btn-info collapsebtn" data-toggle="collapse" data-target="#demo"> <img src="images/dropdownmenu1.png" alt=""/></button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cusdashboardblock1innerright cusdashboardblock1innerrightsml">
                <div class="badgelists">
                    <a href = "#"><span class = "badge">3</span><img src="images/admicon-message.png">Messages</a>
                    <a href = "#"><span class = "badge">1</span><img src="images/admicon-notification.png">Notifications</a>
                    <a href = "#"><span class = "badge">5</span><img src="images/admicon-newcustomer.png">New Customers</a>
                </div>
                <div class = "customersignout dropdown">
                    <a type = "button" class = "btn dropdown-toggle" id = "dropdownMenu1" data-toggle = "dropdown">
                        <!--<img *ngIf="!uploadedfilesrc" src="images/img_customersignup_car.png" class="imgadminimg">-->
                        <img *ngIf="uploadedfilesrc" src="{{uploadedfilesrc}}" class="imgadminimg">
                        <label class="lblsignupcustomer">{{getUserFullname()}}</label> <span class = "caret"></span>
                    </a>
                    <div class = "dropdown-menu dropdown-menucuscom" aria-labelledby = "dropdownMenu1">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                           <!-- <img src="images/img_customersignup_car.png" class="imgadminimg">-->
                            <img *ngIf="uploadedfilesrc" src="{{uploadedfilesrc}}" class="imgadminimg">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <label class="lblsignupcustomer">{{getUserFullname()}}</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <a href = "#" class="btn btn-default btnlogout" (click)="logout()">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <button type="button" class="btn btn-info collapsebtn" data-toggle="collapse" data-target="#demo"> <img src="images/dropdownmenu1.png" alt=""/></button>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid menublockdiv">
    <div id="demo" class="collapse">
        <div class="container collapsediv">
            <img src="images/menuarrow.png" alt="" class="menuarrowimg2"/>
        </div>
        <div class="collapsedivmenu" >
            <!--<img src="images/demomenu.png" alt="" style="display: block; margin: 0 auto;"/>-->
            <ul>
                <li><a><img src="images/admicon-managecustomer.png">Manage Customer Portal</a></li>
                <li><a><img src="images/admicon-broadcastprefer.png">Manage Broadcast Preferences</a></li>
                <li><a [routerLink]="['/manageopencontract']" ><img src="images/admicon-opencontact.png">Manage Open Contract</a></li>
                  <li><a [routerLink]="['/dealerauctionlist']"><img src="images/admicon-manageaution.png">Manage Auctions</a></li>

                <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="images/admicon-subscription.png">Manage Subscriptions <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/package']"><img src="images/admicon-package.png">Buy Subscription</a></li>
                        <li><a [routerLink]="['/dealerpackagepurchase']"><img src="images/admicon-managebannersizes.png">Recent Purchases</a></li>
                        <li><a [routerLink]="['/freeinvitedealercustomerlist']"><img src="images/admicon-manageprofile.png">Manage Free Invite </a></li>
                     </ul>
               </li>

                <!--<li><a [routerlink]="['/affiliatelist']"><img src="images/admicon-subscription.png">Manage Affiliate</a></li>-->
                <li><a [routerLink]="['/sharemedia']"><img src="images/admicon-sharemedia.png">Share Media</a></li>
                <li><a [routerLink]="['/affiliatelist']"><img src="images/admicon-manageaffiliate.png">Manage Affiliate</a></li>
                <li><a (click)="opensupportticket()"><img src="images/admicon-supporttickets.png">Support Tickets</a></li>
                <li><a [routerLink]="['/faq']"><img src="images/admicon-faq.png">Faq's</a></li>
                <li><a [routerLink]="['/dealerfaq']"><img src="images/admicon-myfaq.png">My Faq's</a></li>
                <li><a [routerLink]="['/auctioninventoryview']"><img src="images/admicon-auctioninventoryview.png">Auction Inventory View</a></li>
                <li><a [routerLink]="['/inventorymatches']"><img src="images/admicon-inventorymatches.png">Inventory Matches</a></li>
                <li><a [routerLink]="['/postauctionactivity']"><img src="images/admicon-postactionactivity.png">Post Action Activity</a></li>
                <li><a [routerLink]="['/recentbidagreement']"><img src="images/admicon-recentbidactivity.png">Recent Bid Activity</a></li>
                <li><a [routerLink]="['/upcomingauctions']"><img src="images/admicon-upcomingauction.png">Upcoming Auction</a></li>
                <li><a [routerLink]="['/dealerprofile']"><img src="images/admicon-manageprofile.png">Manage Profile</a></li>
               <!-- <li><a [routerLink]="['/package']"><img src="images/admicon-package.png">Package</a></li>-->
                <li><a [routerLink]="['/addretailcommission']"><img src="images/admicon-package.png">Retail Commission</a></li>
               <!-- <li><a [routerLink]="['/manageopencontract']"><img src="images/admicon-package.png">Manage Open Contract</a></li>-->
                <li><a [routerLink]="['/dealercustomerlist']"><img src="images/admicon-package.png">Customer List</a></li>
            </ul>
        </div>
    </div>
</div>

   <div id="supportticketModal" class="modal fade carlogomodalbox">
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modelheader">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <!-- <h4 class="modal-title"></h4>-->
               </div>
               <div class="modal-body">
                   <div class="option_poup_wrapper"><h4 align="center">Comming Soon !</h4></div>
               </div>
               <div class="modal-footer">
                   <button class="btn btn-primary btnclose" data-dismiss="modal" aria-hidden="true">close</button>
               </div>
           </div>
       </div>
   </div>